<template>
    <div>
        <Loader v-if="isLoading"></Loader>
        <div class="page-header-title">
            <br />
            <h4 class="page-title">Compañias y Secciones</h4>
        </div>
        <div class="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title text-dark m-0">
                                    Detalle de Registros
                                    <div class="float-right">
                                        <a
                                            href="#"
                                            @click.prevent="newCompaniaSeccion"
                                            class="btn btn-sm btn-success waves-effect waves-light m-l-10"
                                        >
                                            <i class="fa fa-plus"></i>
                                            {{ $t("actions.new") }}
                                        </a>
                                    </div>
                                </h3>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <data-table
                                        :columns="columns"
                                        :ajax="ajax"
                                        width="100%"
                                        @draw="draw"
                                        ref="datatable-companiaSeccion"
                                    ></data-table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



                                            <!-- VISTA DEL MODAL COMPANIA SECCION-->

        <b-modal ref="view-companiaSeccion" size="lg" title="">
      
            <div>
            <b-card no-body>
                <b-tabs card>
                    <!--tab1-->
                <b-tab title="Datos" active>
                    <b-card-text>
                    <div class="row">
                        <div class="col-12 form-group">
                            <h3 class="text-center mb-3">{{ companiaSeccion.compania ? companiaSeccion.compania.NombreCompania :"" }}</h3>
                            
                            <h3 class="text-center mb-3">{{ companiaSeccion.seccion ? companiaSeccion.seccion.NombreSeccion :"" }}</h3>
                            <h4>Nombre de Compañia</h4>            
                            <p class="text-muted">{{ companiaSeccion.compania ? companiaSeccion.compania.NombreCompania :"" }}</p>
                            <h4>Nombre de Sección</h4>
                            <p class="text-muted">{{ companiaSeccion.seccion ? companiaSeccion.seccion.NombreSeccion :"" }}</p> 

                        </div>
                                 
                    </div> 
                    </b-card-text>
                    
                </b-tab>

                <!--tab2-->
                <b-tab title="Escuadras">
                    <b-card-text>
                        <h2 class="text-center mb-3">{{ companiaSeccion.compania ? companiaSeccion.compania.NombreCompania :"" }}</h2>
                            <h3 class="text-center mb-3">{{ companiaSeccion.seccion ? companiaSeccion.seccion.NombreSeccion :"" }}</h3>
                            <p class="text-left">Asignar Escuadra:</p>

                            <div class="row">

                                
                                        <div class="col-6 form-group">
                                            
                                            <label for="Escuadra">Buscar Escuadra: </label>

                                            <b-form-select
                                                type="text"
                                                class="form-control"
                                                name="Escuadra"
                                                @change="onChangeEscuadra($event)"
                                                v-model="companiaSeccionEscuadra.Escuadra"
                                                
                                            >
                                                <option
                                                    :value="e.id"
                                                    v-for="e in escuadras"
                                                    v-bind:key="e.id"
                                                >
                                                    {{ e.NombreEscuadra }}
                                                </option>
                                            </b-form-select>

                                               <a class="btn btn-success mx-4 col-4" @click="saveCmSecEsc"><i class="fa fa-plus"></i> Anadir</a>
                                               
                                        </div>
                                        <br>
                                        <div class="w-75" >
                                                
                                                <label>Descripción de la Escuadra:</label>
                                                <input disabled type="text" class="form-control" v-bind:value="e">
                                        </div>



                                        

                            </div>  
                            
                            
                            <!---TABLA DE AGREGAR ESCUADRAS-->
                                <div class="container">
                                    <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col">Nro</th>
                                            <th scope="col">Escuadra</th>
                                            <th scope="col">Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr
                                                :value="ecs.id"
                                                v-for="ecs in escuadrasporcomsec"
                                                v-bind:key="ecs.id"    
                                        >
                                            <td>
                                                {{ ecs.id }}
                                            </td>

                                            <td>
                                                
                                                {{ ecs.escuadra ? ecs.escuadra.NombreEscuadra : "" }}
                                            </td>

                                            <td>
                                                
                                                <a @click="buscarEstudiantes(ecs.id)" class="btn btn-primary btn-sm mr-3"><i class="fa fa-eye"></i> Ver Estudiantes</a>
                                                
                                                 
                                                <a @click="deleteCmSecEsc(ecs.id)" class="btn btn-danger btn-sm mr-3"><i class="fa fa-trash"></i></a>
                                                
                                               
                                            </td>

                                        </tr>
                                        
                                        
                                    </tbody>
                                    </table>
                                </div>
                        
                    </b-card-text>
                </b-tab>
                </b-tabs>
            </b-card>
            </div>
            <template #modal-footer>
                                <a @click.prevent="editCompaniaSeccion" class="btn btn-warning  mr-3">
                                    <i class="fa fa-edit"></i>
                                    {{ $t("actions.edit") }}
                                </a>
                               
                                <a @click.prevent="deleteCompaniaSeccion" class="btn btn-danger">
                                    <i class="fa fa-trash"></i>
                                    {{ $t("actions.destroy") }}
                                </a>

             </template>         
        </b-modal>

                                                <!-- FORMULARIO DE COMPAÑIA POR SECCION-->

        <b-modal ref="frm-companiaSeccion" size="lg" title="Asignar Seccion a Compañia">
            <form role="form">

                <!--select se compania-->
                    
                <div class="form-group">
                    <label for="Compania">Escoger Compañia:</label>
                    <b-form-select
                        type="text"
                        class="form-control"
                        @change="onChangeCompania($event)"
                        name="Compania"
                        v-model="companiaSeccion.Compania"
                        
                        
                    >
                        <option
                            :value="c.id"
                            v-for="c in companias"
                            v-bind:key="c.id"
                        >
                            {{ c.NombreCompania }}
                        </option>
                    </b-form-select>
                    <ul
                        class="parsley-errors-list filled"
                        id="parsley-id-19"
                        v-if="errorBag.Compania"
                    >
                        <li class="parsley-required">
                            {{ errorBag.Compania }}
                        </li>
                    </ul>
                </div>
                
                <div class="row justify-content-around" >
                    <label>Gestión:</label>
                    <input disabled type="text" class="form-control w-25" v-bind:value="g">
                    <label>Periodo:</label>
                    <input disabled type="text" class="form-control w-25" v-bind:value="p">
                </div>
                
                
                <br>
              
                <br>

                <!--select se seccion-->
                <div class="form-group">
                    <label for="Seccion">Escoger Sección:</label>
                    <b-form-select
                        type="text"
                        class="form-control"
                        @change="onChange($event)"
                        name="Seccion"
                        v-model="companiaSeccion.Seccion"
                    >
                        <option
                            :value="s.id"
                            v-for="s in secciones"
                            v-bind:key="s.id"
                        >
                            {{ s.NombreSeccion }}
                        </option>
                    </b-form-select>
                    <ul
                        class="parsley-errors-list filled"
                        id="parsley-id-19"
                        v-if="errorBag.Seccion"
                    >
                        <li class="parsley-required">
                            {{ errorBag.Seccion }}
                        </li>
                    </ul>
                </div>
                <label>Descripción de la Sección:</label>
                <input disabled type="text" class="form-control" v-bind:value="d">

                
            </form>
            <template #modal-footer>
                <a @click.prevent="saveCompaniaSeccion()" class="btn btn-success">
                    <i class="fa fa-save"></i>
                    {{ $t("actions.save") }}
                </a>
                <button
                    type="button"
                    class="btn btn-danger"
                    @click.prevent="cancelCompaniaSeccion()"
                >
                    <i class="fa fa-window-close"></i>
                    {{ $t("actions.cancel") }}
                </button>
            </template>
        </b-modal>


                                             <!-- VISTA DE  BUSQUEDA DE ESTUDIANTE-->
         <b-modal ref="buscar-estudiantes" size="lg" title="Asignar Estudiantes">
            <form role="form">
                <div class="row">
                    <div class=" col-8 form-group">
                                    
                            <label for="Persona">Buscar Estudiante</label>
                            <b-form-select
                                    type="text"
                                    class="form-control"
                                    name="Persona"
                                    v-model="compSecEscPersona.Persona"
                                >
                                    <option
                                            :value="per.id"
                                            v-for="per in personas"
                                            v-bind:key="per.id"
                                    >
                                            {{ per.Persona }}
                                    </option>
                            </b-form-select>

                            <!--
                            <label for="EstadoPersona">Estado del Estudiante</label>
                            <select
                                    type="text"
                                    class="form-control"
                                    name="EstadoPersona"
                                    v-model="compSecEscPersona.EstadoPersona"
                                >
                                    <option
                                            :value="ep.id"
                                            v-for="ep in estadoPersonas"
                                            v-bind:key="ep.id"
                                    >
                                            {{ ep.EstadoPersona }}
                                    </option>
                            </select>
                            -->
                    </div>

                    <div class="col-4">
                        <a class="btn btn-success mt-4" @click="saveCompSecEscPersona"><i class="fa fa-plus"></i> Anadir</a>
                                    
                    </div>

                </div>
                        <!--TABLA DE AGREGAR ESTUDIANTE-->
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Nro</th>
                            <th scope="col">Nombre del Estudiante</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            :value="pcse.id"
                            v-for="pcse in personasporcomsecesc"
                            v-bind:key="pcse.id"                        
                        >
                            <td>
                                {{ pcse.id }}
                            </td>
                            
                            <td>
                                {{ pcse.persona ? pcse.persona.Persona : "" }}
                            </td>

                            <td>
                                <p 
                                    v-show ="pcse.estado_persona.EstadoPersona == 'En instruccion' " class="badge badge-pill badge-success"
                                    > {{ pcse.estado_persona ? pcse.estado_persona.EstadoPersona : "" }} </p>
                                    <p 
                                    v-show ="pcse.estado_persona.EstadoPersona == 'En observacion' " class="badge badge-pill badge-warning"
                                    > {{ pcse.estado_persona ? pcse.estado_persona.EstadoPersona : "" }} </p>
                                    <p 
                                    v-show ="pcse.estado_persona.EstadoPersona == 'No habilitado' " class="badge badge-pill badge-danger"
                                    > {{ pcse.estado_persona ? pcse.estado_persona.EstadoPersona : "" }} </p>
                                    <p 
                                    v-show ="pcse.estado_persona.EstadoPersona == 'Habilitado a la certificacion' " class="badge badge-pill badge-info"
                                    > {{ pcse.estado_persona ? pcse.estado_persona.EstadoPersona : "" }} </p>
                            </td>

                            <td>
                                <a class="btn btn-primary ml-2" @click="verEstudiante(pcse.Persona)"><i class="fa fa-eye"></i></a>
                                <a class="btn btn-warning ml-2" @click="showEstadoEstudiante(pcse.id)"><i class="fa fa-user-tag"></i></a>
                                <a class="btn btn-danger ml-2" @click="deleteCmSecEscPer(pcse.id)"><i class="fa fa-trash"></i></a>
                            </td>  
                        </tr>             
                    </tbody>                         
                </table>
            </form>
            <template #modal-footer>

                <!--
                <a @click.prevent="saveCompaniaSeccion()" class="btn btn-success">
                    <i class="fa fa-save"></i>
                    {{ $t("actions.save") }}
                </a>
                -->
                <button
                    type="button"
                    class="btn btn-danger"
                    @click.prevent="cancelCompaniaSeccion()"
                >
                    <i class="fa fa-window-close"></i>
                    {{ $t("actions.cancel") }}
                </button>
                
            </template> 
        </b-modal>
         <!--VER ESTUDIANTE-->
        <b-modal ref="view-estudiante" size="lg" title="Persona">
            <div>
                <b-card no-body>
                    <b-tabs card>
                        <!--tab1-->
                        <b-tab title="Datos Personales" active>
                            <b-card-text>
                                <div class="row">
                                    
                                    <div class="col-md-6">
                                        <h4>{{ $t("nav.Persona") }}</h4>
                                        <p class="text-muted">{{ persona.Persona }}</p>
                                        <h4>Unidad Academica</h4>
                                        <p class="text-muted">
                                            {{
                                                persona.unidad_academica
                                                    ? persona.unidad_academica.UnidadAcademica
                                                    : ""
                                            }}
                                        </p>
                                        <h4>Rol</h4>
                                        <p class="text-muted">
                                            {{ persona.rol ? persona.rol.Rol : "" }}
                                        </p>
                                        <h4>Correo Institucional</h4>
                                        <p class="text-muted">{{ persona.email }}</p>
                                        <h4>Ciudad Natal</h4>
                                        <p class="text-muted">{{ persona.Ciudad }}</p>

                                    </div> 
                                    <div class="col-md-6">
                                        <img :src="persona.URLFoto" style="width: 100%" />
                                    </div>  

                                    <div class="col-md-6">

                                        <h4>Edad</h4>
                                        <p class="text-muted">{{ persona.Edad }}</p>
                                        <h4>Carrera</h4>
                                        <p class="text-muted">{{ persona.Carrera }}</p>
                                        <h4>Codigo Saga</h4>
                                        <p class="text-muted">{{ persona.CodigoSaga }}</p>
                                        <h4>Email</h4>
                                        <p class="text-muted">{{ persona.CorreoInstitucional }}</p>
                                        <h4>Dirección</h4>
                                        <p class="text-muted">{{ persona.Direccion }}</p>
                                        <h4>Número de Celular</h4>
                                        <p class="text-muted">{{ persona.NumeroCelular }}</p>
                                        <h4>Teléfono de Referencia</h4>
                                        <p class="text-muted">{{ persona.TelefonoReferencia }}</p>
                                        <h4>Numero de Cedula</h4>
                                        <p class="text-muted">{{ persona.Ci }}</p>
                                        <h4>Nombre del Padre</h4>
                                        <p class="text-muted">{{ persona.NombrePadre}}</p>
                                        <h4>Nombre de la Madre</h4>
                                        <p class="text-muted">{{ persona.NombreMadre}}</p>
                                        
                                    </div>    
                                    
                                </div>
                    
                            </b-card-text>
                    
                        </b-tab>

                        <!--tab2 -->
                        <b-tab title="Rasgos Personales">
                        <b-card-text>
                            <h4>Sabe Leer</h4>
                            <p class="text-muted">{{ persona.Leer }}</p>
                            <h4>Recomendación Médica</h4>
                            <p class="text-muted">{{ persona.RecMedico }}</p>
                            <h4>Estatura</h4>
                            <p class="text-muted">{{ persona.Estatura }}</p>
                            <h4>Peso</h4>
                            <p class="text-muted">{{ persona.Peso }}</p>
                            <h4>Condición Física</h4>
                            <p class="text-muted">{{ persona.CondFisica }}</p>
                            <h4>Estado Nutricional</h4>
                            <p class="text-muted">{{ persona.EstNutricional }}</p>
                            <h4>Grupo Sanguíneo</h4>
                            <p class="text-muted">{{ persona.GrupoSanguineo }}</p>
                            <h4>Color de Piel</h4>
                            <p class="text-muted">{{ persona.ColorPiel }}</p>
                            <h4>Color de Ojos</h4>
                            <p class="text-muted">{{ persona.ColorOjos }}</p>
                            <h4>Aspecto de Naríz</h4>
                            <p class="text-muted">{{ persona.Nariz }}</p>
                            <h4>Aspecto de Boca</h4>
                            <p class="text-muted">{{ persona.Boca }}</p>
                            <h4>Aspecto de Labios</h4>
                            <p class="text-muted">{{ persona.Labio }}</p>
                            <h4>Aspecto de Cabello</h4>
                            <p class="text-muted">{{ persona.Cabello }}</p>
                            

                            

                        </b-card-text>
                        </b-tab>

                        <!--tab3 -->
                        <b-tab title="Habilidades">
                        <b-card-text>
                            <h4>Habilidad para Nadar</h4>
                            <p class="text-muted">{{ persona.Nadar }}</p>
                            <h4>Habilidad para Montar Caballo</h4>
                            <p class="text-muted">{{ persona.Montar }}</p>
                            <h4>Habilidad para Conducir Vehiculo</h4>
                            <p class="text-muted">{{ persona.ConduceVehiculo }}</p>
                            <h4>Habilidad para Conducir Embarcacíon</h4>
                            <p class="text-muted">{{ persona.ConduceEmbarcacion }}</p>
                            
                        </b-card-text>
                        </b-tab>

                        <!--tab4 
                        <b-tab title="Estado del Estudiante">
                            <b-card-text>
                            <form role="form">
                                <div class="row">
                                    

                                </div>
                
                            </form>         
                            </b-card-text>
                        </b-tab>
                        -->
                        
                    </b-tabs>
                   
                </b-card>
            </div>
            <template #modal-footer>
                <button
                    type="button"
                    class="btn btn-danger"
                    @click.prevent="cancelCompaniaSeccion()"
                >
                    <i class="fa fa-window-close"></i>
                    {{ $t("actions.cancel") }}
                </button>

            </template>
        </b-modal>


        <!--EDITAR ESTADO DEL ESTUDIANTE-->
        <b-modal ref="frm-estadoPersona" size="lg" title="Estado Persona">
            
            <h4>Nombre del Estudiante</h4>            
            <p class="text-muted">{{ compSecEscPersona.persona ? compSecEscPersona.persona.Persona :""}}</p>


            <form role="form">
                <div class="form-group">
                    <label for="EstadoPersona">Cambiar Estado del Estudiante</label>
                        <b-form-select
                             type="text"
                             class="form-control"
                             name="EstadoPersona"
                            v-model="compSecEscPersona.EstadoPersona"
                        >
                        <option
                            :value="ep.id"
                            v-for="ep in estadoPersonas"
                            v-bind:key="ep.id"
                        >
                                 {{ ep.EstadoPersona }}
                        </option>
                        </b-form-select>
                </div>
                
            </form>

            <template #modal-footer>
                <a @click.prevent="saveEstadoEstudiante()" class="btn btn-success">
                    <i class="fa fa-save"></i>
                    {{ $t("actions.save") }}
                </a>
                <button
                    type="button"
                    class="btn btn-danger"
                    @click.prevent="cancelEstadoPersona()"
                >
                    <i class="fa fa-window-close"></i>
                    {{ $t("actions.cancel") }}
                </button>
            </template>
        </b-modal>

        

    </div>
</template>

<script src="./CompaniaSeccionPage.js"></script>