<template>
    <div class="content">
        <div class="page-header-title">
            <br>
            <h4 class="page-title">Principal</h4>
        </div>
        <div class="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title text-dark m-0">
                                    BIENVENIDO AL SISTEMA DE ADMINISTRACIÓN CEFOR 
                                </h3>
                            </div>
                            <div class="card-body mx-auto d-block">
                                <img 
                                    width="540px"
                                    src="@/assets/images/emi_logo.png" alt=""
                                >
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script src="./PrincipalPage.js"></script>