<template>
    <div>
        <Loader v-if="isLoading"></Loader>
        <div class="page-header-title">
            <br />
            <h4 class="page-title">{{ $t("nav.Persona") }}</h4>
        </div>
        <div class="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title text-dark m-0">
                                    Detalle de Registros
                                    <div class="float-right">
                                        <a
                                            @click.prevent="newPersona"
                                            class="
                                                btn btn-sm btn-success
                                                waves-effect waves-light
                                                m-l-10
                                            "
                                        >
                                            <i class="fa fa-plus"></i>
                                            {{ $t("actions.new") }}
                                        </a>
                                    </div>
                                </h3>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <data-table
                                        :columns="columns"
                                        :ajax="ajax"
                                        width="100%"
                                        @draw="draw"
                                        ref="datatable-persona"
                                    ></data-table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
        <!-- vista de consulta-->
        <b-modal ref="view-persona" size="lg" title="Persona">
            <div>
            <b-card no-body>
                <b-tabs card>
                    <!--tab1-->
                <b-tab title="Datos Personales" active>
                    <b-card-text>
                        <div class="row">
                            
                            <div class="col-md-6">
                                <h4>{{ $t("nav.Persona") }}</h4>
                                <p class="text-muted">{{ persona.Persona }}</p>
                                <h4>Unidad Academica</h4>
                                <p class="text-muted">
                                    {{
                                        persona.unidad_academica
                                            ? persona.unidad_academica.UnidadAcademica
                                            : ""
                                    }}
                                </p>
                                <h4>Rol</h4>
                                <p class="text-muted">
                                    {{ persona.rol ? persona.rol.Rol : "" }}
                                </p>
                                <h4>Correo Institucional</h4>
                                <p class="text-muted">{{ persona.email }}</p>
                                <h4>Ciudad Natal</h4>
                                <p class="text-muted">{{ persona.Ciudad }}</p>

                            </div> 
                            <div class="col-md-6">
                                <img :src="persona.URLFoto" style="width: 100%" />
                            </div>  

                            <div class="col-md-6">

                                <h4>Edad</h4>
                                <p class="text-muted">{{ persona.Edad }}</p>
                                <h4>Carrera</h4>
                                <p class="text-muted">{{ persona.Carrera }}</p>
                                <h4>Codigo Saga</h4>
                                <p class="text-muted">{{ persona.CodigoSaga }}</p>
                                <h4>Email</h4>
                                <p class="text-muted">{{ persona.CorreoInstitucional }}</p>
                                <h4>Dirección</h4>
                                <p class="text-muted">{{ persona.Direccion }}</p>
                                <h4>Número de Celular</h4>
                                <p class="text-muted">{{ persona.NumeroCelular }}</p>
                                <h4>Teléfono de Referencia</h4>
                                <p class="text-muted">{{ persona.TelefonoReferencia }}</p>
                                <h4>Numero de Cedula</h4>
                                <p class="text-muted">{{ persona.Ci }}</p>
                                <h4>Nombre del Padre</h4>
                                <p class="text-muted">{{ persona.NombrePadre}}</p>
                                <h4>Nombre de la Madre</h4>
                                <p class="text-muted">{{ persona.NombreMadre}}</p>
                                
                            </div>    
                            
                        </div>
                    
                    </b-card-text>
                    
                </b-tab>

                <!--tab2-->
                <b-tab title="Rasgos Personales">
                    <b-card-text>
                        
                        <h4>Recomendación Médica</h4>
                        <p class="text-muted">{{ persona.RecMedico }}</p>
                        <h4>Sabe Leer</h4>
                        <p class="text-muted">{{ persona.Leer }}</p>
                        <h4>Estatura</h4>
                        <p class="text-muted">{{ persona.Estatura }}</p>
                        <h4>Peso</h4>
                        <p class="text-muted">{{ persona.Peso }}</p>
                        <h4>Condición Física</h4>
                        <p class="text-muted">{{ persona.CondFisica }}</p>
                        <h4>Estado Nutricional</h4>
                        <p class="text-muted">{{ persona.EstNutricional }}</p>
                        <h4>Grupo Sanguíneo</h4>
                        <p class="text-muted">{{ persona.GrupoSanguineo }}</p>
                        <h4>Color de Piel</h4>
                        <p class="text-muted">{{ persona.ColorPiel }}</p>
                        <h4>Color de Ojos</h4>
                        <p class="text-muted">{{ persona.ColorOjos }}</p>
                        <h4>Aspecto de Naríz</h4>
                        <p class="text-muted">{{ persona.Nariz }}</p>
                        <h4>Aspecto de Boca</h4>
                        <p class="text-muted">{{ persona.Boca }}</p>
                        <h4>Aspecto de Labios</h4>
                        <p class="text-muted">{{ persona.Labio }}</p>
                        <h4>Aspecto de Cabello</h4>
                        <p class="text-muted">{{ persona.Cabello }}</p>
                    </b-card-text>
                </b-tab>
                <!--tab3-->
                <b-tab title="Habilidades">
                    <b-card-text>
                        <h4>Habilidad para Nadar</h4>
                        <p class="text-muted">{{ persona.Nadar }}</p>
                        <h4>Habilidad para Montar Caballo</h4>
                        <p class="text-muted">{{ persona.Montar }}</p>
                        <h4>Habilidad para Conducir Vehiculo</h4>
                        <p class="text-muted">{{ persona.ConduceVehiculo }}</p>
                        <h4>Habilidad para Conducir Embarcacíon</h4>
                        <p class="text-muted">{{ persona.ConduceEmbarcacion }}</p>
                        
                    </b-card-text>
                </b-tab>
                </b-tabs>
            </b-card>
            </div>
            <template #modal-footer>
                <a
                    @click.prevent="cambiopassword"
                    class="btn btn-success waves-effect waves-light"
                >
                    <i class="fab fa-expeditedssl"></i>
                    {{ $t("actions.changepassword") }}
                </a>

                
                <a
                    @click="filiacionPDF(persona.id)"
                    class="btn btn-primary waves-effect waves-light"
                >
                    <i class="far fa-file-powerpoint"></i>
                    Generar Hoja de filiacion
                </a>

                <div id="pdf">

                </div>

                <!--------------------------------------->

                <a @click.prevent="editPersona" class="btn btn-warning">
                    <i class="fa fa-edit"></i>
                    {{ $t("actions.edit") }}
                </a>
                <a @click.prevent="deletePersona" class="btn btn-danger">
                    <i class="fa fa-trash"></i>
                    {{ $t("actions.destroy") }}
                </a>
            </template>
        </b-modal>

        <!-- vista de consulta-->
        <b-modal ref="frm-persona" size="lg" title="Registrar Persona">

            <div>
            <b-card no-body>
                <b-tabs card>
                    <!--tab1-->
                <b-tab title="Datos Personales" active>
                    <b-card-text>
                    <div class="row">
                        <div class="col-8 form-group">
                            <form role="form">
                                <div class="form-group">
                                    <label for="ApellidoPaterno">Apellido Paterno</label>
                                    <input
                                        type="text"
                                        class="form-control"
                                        name="ApellidoPaterno"
                                        onKeypress="if (( event.charCode < 65 || event.charCode > 90)&&(event.charCode < 97 || event.charCode > 122)) event.returnValue = false;"
                                        v-model="persona.ApellidoPaterno"
                                    />
                                    <ul
                                        class="parsley-errors-list filled"
                                        id="parsley-id-19"
                                        v-if="errorBag.ApellidoPaterno"
                                    >
                                        <li class="parsley-required">
                                            {{ errorBag.ApellidoPaterno }}
                                        </li>
                                    </ul>
                                </div>
                                <div class="form-group">
                                    <label for="ApellidoMaterno"> Apellido Materno </label>
                                    <input
                                        type="text"
                                        class="form-control"
                                        name="ApellidoMaterno"
                                        onKeypress="if (( event.charCode < 65 || event.charCode > 90)&&(event.charCode < 97 || event.charCode > 122)) event.returnValue = false;"
                                        v-model="persona.ApellidoMaterno"
                                    />
                                    <ul
                                        class="parsley-errors-list filled"
                                        id="parsley-id-19"
                                        v-if="errorBag.ApellidoMaterno"
                                    >
                                        <li class="parsley-required">
                                            {{ errorBag.ApellidoMaterno }}
                                        </li>
                                    </ul>
                                </div>
                                <div class="form-group">
                                    <label for="Nombres"> Nombres </label>
                                    <input
                                        type="text"
                                        class="form-control"
                                        name="Nombres"
                                        v-model="persona.Nombres"
                                    />
                                    <ul
                                        class="parsley-errors-list filled"
                                        id="parsley-id-19"
                                        v-if="errorBag.Nombres"
                                    >
                                        <li class="parsley-required">
                                            {{ errorBag.Nombres }}
                                        </li>
                                    </ul>
                                </div>
                                <div class="form-group">
                                    <label for="UnidadAcademica">Unidad Academica</label>
                                    <select
                                        type="text"
                                        class="form-control"
                                        name="UnidadAcademica"
                                        v-model="persona.UnidadAcademica"
                                    >
                                        <option disabled value="" :selected="true">Seleccione...</option>
                                        <option
                                            :value="ua.id"
                                            v-for="ua in unidadAcademicas"
                                            v-bind:key="ua.id"
                                        >
                                            {{ ua.UnidadAcademica }}
                                        </option>
                                    </select>
                                    <ul
                                        class="parsley-errors-list filled"
                                        id="parsley-id-19"
                                        v-if="errorBag.UnidadAcademica"
                                    >
                                        <li class="parsley-required">
                                            {{ errorBag.UnidadAcademica }}
                                        </li>
                                    </ul>
                                </div>

                               
                                <div class="form-group">
                                    <label for="Rol">Rol</label>
                                    <select
                                        
                                        class="form-control"
                                        name="Rol"
                                        @change="onChange($event)"
                                        v-model="persona.Rol"
                                        >

                                        <option disabled value="" :selected="true">Seleccione...</option>
                                        <option
                                            :value="r.id"
                                            v-for="r in rols"
                                            v-bind:key="r.id"
                                        >
                                            {{ r.Rol }}
                                        </option>
                                    </select>
                                    <ul
                                        class="parsley-errors-list filled"
                                        id="parsley-id-19"
                                        v-if="errorBag.Rol"
                                    >
                                        <li class="parsley-required">
                                            {{ errorBag.Rol }}
                                        </li>
                                    </ul>
                                </div>



                                <div class="form-group">
                                    <label for="email"> Correo Institucional </label>
                                    <input
                                        type="text"
                                        class="form-control"
                                        name="email"
                                        v-model="persona.email"
                                    />
                                    <ul
                                        class="parsley-errors-list filled"
                                        id="parsley-id-19"
                                        v-if="errorBag.email"
                                    >
                                        <li class="parsley-required">
                                            {{ errorBag.email }}
                                        </li>
                                    </ul>
                                </div>
                                <div class="form-group">
                                    <label for="password">Password </label>
                                    <input
                                        type="password"
                                        class="form-control"
                                        name="password"
                                        v-model="persona.password"
                                    />
                                    <ul
                                        class="parsley-errors-list filled"
                                        id="parsley-id-19"
                                        v-if="errorBag.password"
                                    >
                                        <li class="parsley-required">
                                            {{ errorBag.password }}
                                        </li>
                                    </ul>
                                </div>
                                <div class="form-group">
                                    <label for="Fotografia"> Fotografia </label>
                                    <b-form-file
                                        @change="loadFile('Fotografia')"
                                        placeholder="Selecciona o suelta un Archivo..."
                                        drop-placeholder="Suelta el Archivo aqui..."
                                    ></b-form-file>
                                    <span v-show="isLoadingFile" class="text-success"
                                        ><i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                                        Cargando Archivo<span class="sr-only"
                                            >Cargando...</span
                                        ></span
                                    >
                                    <span
                                        v-show="!isLoadingFile && persona.Foto"
                                        class="text-info"
                                        ><i class="fa fa-thumbs-o-up"></i> Archivo
                                        Cargado!</span
                                    >
                                </div>

                                <!--Adicion de campos en el formulario-->

                                <div class="form-group"
                                v-if="enable.Estudiante"
                                >
                                    <label for="Ciudad"> Departamento Natal </label>
                                    <select
                                        type="text"
                                        class="form-control"
                                        name="Ciudad"
                                        v-model="persona.Ciudad"
                                    >
                                        
                                        <option value="LA PAZ">LA PAZ</option>
                                        <option value="ORURO">ORURO</option>
                                        <option value="POTOSI">POTOSI</option>
                                        <option value="PANDO">PANDO</option>
                                        <option value="BENI">BENI</option>
                                        <option value="SANTACRUZ">SANTA CRUZ</option>
                                        <option value="COCHABAMBA">COCHABAMBA</option>
                                        <option value="CHUQUISACA">CHUQUISACA</option>
                                        <option value="TARIJA">TARIJA</option>

                                    </select>
                                    <ul
                                        class="parsley-errors-list filled"
                                        id="parsley-id-19"
                                        v-if="errorBag.Ciudad"
                                    >
                                        <li class="parsley-required">
                                            {{ errorBag.Ciudad }}
                                        </li>
                                    </ul>
                                </div>
                                <!----------------------------------->
                                <div class="form-group"
                                v-if="enable.Estudiante"
                                >
                                    <label for="Edad">Edad:</label>
                                    <input
                                        type="number"
                                        class="form-control"
                                        name="Edad"
                                        min="16"
                                        max="65"
                                        v-model="persona.Edad"
                                    />
                                    <ul
                                        class="parsley-errors-list filled"
                                        id="parsley-id-19"
                                        v-if="errorBag.Edad"
                                    >
                                        <li class="parsley-required">
                                            {{ errorBag.Edad }}
                                        </li>
                                    </ul>
                                </div>
                                <!----------------------------------->
                                <div class="form-group"
                                v-if="enable.Estudiante">
                                    <label for="Carrera"> Carrera </label>
                                    <select
                                        type="text"
                                        class="form-control"
                                        name="Carrera"
                                        v-model="persona.Carrera"
                                    >
                                        
                                        <option value="INGENIERÍA CIVÍL">INGENIERÍA CIVÍL</option>
                                        <option value="INGENIERÍA AMBIENTAL">INGENIERÍA AMBIENTAL</option>
                                        <option value="INGENIERÍA INDUSTRIAL">INGENIERÍA INDUSTRIAL</option>
                                        <option value="INGENIERÍA DE SISTEMAS">INGENIERÍA DE SISTEMAS</option>
                                        <option value="INGENIERÍA COMERCIAL">INGENIERÍA COMERCIAL</option>
                                        <option value="INGENIERÍA DE SISTEMAS ELECTRÓNICOS">INGENIERÍA DE SISTEMAS ELECTRÓNICOS</option>
                                        <option value="INGENIERÍA GEOGRÁFICA">INGENIERÍA GEOGRÁFICA</option>
                                        <option value="INGENIERÍA MECATRÓNICA">INGENIERÍA MECATRÓNICA</option>
                                        <option value="INGENIERÍA PETROLERA">INGENIERÍA PETROLERA</option>
                                        <option value="INGENIERÍA FINANCIERA">INGENIERÍA FINANCIERA</option>
                                        <option value="INGENIERÍA EN TELECOMUNICACIONES">INGENIERÍA EN TELECOMUNICACIONES</option>
                                        <option value="TÉCNICO SUPERIOR EN INFORMÁTICA">TÉCNICO SUPERIOR EN INFORMÁTICA</option>
                                        <option value="TÉCNICO SUPERIOR EN CONSTRUCCIÓN CIVÍL">TÉCNICO SUPERIOR EN CONSTRUCCIÓN CIVÍL</option>
                                        <option value="TÉCNICO SUPERIOR EN ENERGÍAS RENOVABLES">TÉCNICO SUPERIOR EN ENERGÍAS RENOVABLES</option>
                                        <option value="TÉCNICO SUPERIOR EN SISTEMAS ELECTRÓNICOS">TÉCNICO SUPERIOR EN SISTEMAS ELECTRÓNICOS</option>
                                        <option value="TÉCNICO SUPERIOR EN DISEÑO GRÁFICO">TÉCNICO SUPERIOR EN DISEÑO GRÁFICO</option>
                                    </select>
                                    <ul
                                        class="parsley-errors-list filled"
                                        id="parsley-id-19"
                                        v-if="errorBag.Carrera"
                                    >
                                        <li class="parsley-required">
                                            {{ errorBag.Carrera }}
                                        </li>
                                    </ul>
                                </div>
                                <!--------------------  pattern="[A-Z]{1}[0-9]{6}[ -][0-9]{2}"     --------------->
                                <div class="form-group"
                                v-if="enable.Estudiante"
                                >
                                    <label for="CodigoSaga"> Codigo Saga </label>
                                    <input
                                        type="text"
                                        class="form-control"
                                        name="CodigoSaga"
                                        placeholder="AXXXXXX-XX"
                                        v-model="persona.CodigoSaga"
                                    />
                                    <ul
                                        class="parsley-errors-list filled"
                                        id="parsley-id-19"
                                        v-if="errorBag.CodigoSaga"
                                    >
                                        <li class="parsley-required">
                                            {{ errorBag.CodigoSaga }}
                                        </li>
                                    </ul>
                                </div>
                                <!----------------------------------->
                                <div class="form-group"
                                v-if="enable.Estudiante">
                                    <label for="CorreoInstitucional"> Email </label>
                                    <input
                                        type="email"
                                        class="form-control"
                                        name="CorreoInstitucional"
                                        v-model="persona.CorreoInstitucional"
                                    />
                                    <ul
                                        class="parsley-errors-list filled"
                                        id="parsley-id-19"
                                        v-if="errorBag.CorreoInstitucional"
                                    >
                                        <li class="parsley-required">
                                            {{ errorBag.CorreoInstitucional }}
                                        </li>
                                    </ul>
                                </div>
                                <!----------------------------------->
                                <div class="form-group"
                                v-if="enable.Estudiante">
                                    <label for="FechaNacimiento"> Fecha de Nacimiento </label>
                                    <input
                                        type="date"
                                        class="form-control"
                                        name="FechaNacimiento"
                                        id="FechaNacimiento"
                                        
                                        v-model="persona.FechaNacimiento"
                                    />
                                    <ul
                                        class="parsley-errors-list filled"
                                        id="parsley-id-19"
                                        v-if="errorBag.FechaNacimiento"
                                    >
                                        <li class="parsley-required">
                                            {{ errorBag.FechaNacimiento }}
                                        </li>
                                    </ul>
                                </div>
                                <!----------------------------------->
                                <div class="form-group"
                                v-if="enable.Estudiante">
                                    <label for="Direccion"> Dirección </label>
                                    <input
                                        type="text"
                                        class="form-control"
                                        name="Direccion"
                                        v-model="persona.Direccion"
                                    />
                                    <ul
                                        class="parsley-errors-list filled"
                                        id="parsley-id-19"
                                        v-if="errorBag.Direccion"
                                    >
                                        <li class="parsley-required">
                                            {{ errorBag.Direccion }}
                                        </li>
                                    </ul>
                                </div>
                                <!----------------------------------->
                                <div class="form-group"
                                v-if="enable.Estudiante">
                                    <label for="NumeroCelular"> Número de Celular </label>
                                    <input
                                        type="tel"
                                        class="form-control"
                                        name="NumeroCelular"
                                        maxlength="8"
                                        onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;"
                                        v-model="persona.NumeroCelular"
                                    />
                                    <ul
                                        class="parsley-errors-list filled"
                                        id="parsley-id-19"
                                        v-if="errorBag.NumeroCelular"
                                    >
                                        <li class="parsley-required">
                                            {{ errorBag.NumeroCelular }}
                                        </li>
                                    </ul>
                                </div>
                                <!----------------------------------->
                                <div class="form-group"
                                v-if="enable.Estudiante">
                                    <label for="TelefonoReferencia"> Telefono de Referencia </label>
                                    <input
                                        type="tel"
                                        class="form-control"
                                        name="TelefonoReferencia"
                                        maxlength="8"
                                        onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;"
                                        v-model="persona.TelefonoReferencia"
                                    />
                                    <ul
                                        class="parsley-errors-list filled"
                                        id="parsley-id-19"
                                        v-if="errorBag.TelefonoReferencia"
                                    >
                                        <li class="parsley-required">
                                            {{ errorBag.TelefonoReferencia }}
                                        </li>
                                    </ul>
                                </div>
                                <!----------------------------------->
                                <div class="form-group w-50"
                                v-if="enable.Estudiante">
                                    <label for="NumeroCi"> Número de Carnet de Identidad </label>
                                    <input
                                        type="tel"
                                        class="form-control"
                                        name="NumeroCi"
                                        maxlength="12"
                                        onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;"
                                        v-model="persona.NumeroCi"
                                    />
                                    <ul
                                        class="parsley-errors-list filled"
                                        id="parsley-id-19"
                                        v-if="errorBag.NumeroCi"
                                    >
                                        <li class="parsley-required">
                                            {{ errorBag.NumeroCi }}
                                        </li>
                                    </ul>
                                </div>
                                <!----------------------------------->
                                <div class="form-group w-25"
                                v-if="enable.Estudiante">
                                    <label for="ExtCiudad"> Extensión </label>
                                    <select
                                        type="text"
                                        class="form-control"
                                        name="ExtCiudad"
                                        v-model="persona.ExtCiudad"
                                    >
                                        
                                        <option value="LP">LP</option>
                                        <option value="OR">OR</option>
                                        <option value="PT">PT</option>
                                        <option value="PD">PD</option>
                                        <option value="BE">BE</option>
                                        <option value="SC">SC</option>
                                        <option value="CB">CB</option>
                                        <option value="CH">CH</option>
                                        <option value="TJ">TJ</option>

                                    </select>
                                    <ul
                                        class="parsley-errors-list filled"
                                        id="parsley-id-19"
                                        v-if="errorBag.ExtCiudad"
                                    >
                                        <li class="parsley-required">
                                            {{ errorBag.ExtCiudad }}
                                        </li>
                                    </ul>
                                </div>
                                <!----------------------------------->
                                <div class="form-group"
                                v-if="enable.Estudiante">
                                    <label for="NombrePadre"> Nombre del Padre </label>
                                    <input
                                        type="text"
                                        class="form-control"
                                        name="NombrePadre"
                                        v-model="persona.NombrePadre"
                                    />
                                    <ul
                                        class="parsley-errors-list filled"
                                        id="parsley-id-19"
                                        v-if="errorBag.NombrePadre"
                                    >
                                        <li class="parsley-required">
                                            {{ errorBag.NombrePadre }}
                                        </li>
                                    </ul>
                                </div>
                                <!----------------------------------->
                                <div class="form-group"
                                v-if="enable.Estudiante">
                                    <label for="NombreMadre"> Nombre de la Madre </label>
                                    <input
                                        type="text"
                                        class="form-control"
                                        name="NombreMadre"
                                        v-model="persona.NombreMadre"
                                    />
                                    <ul
                                        class="parsley-errors-list filled"
                                        id="parsley-id-19"
                                        v-if="errorBag.NombreMadre"
                                    >
                                        <li class="parsley-required">
                                            {{ errorBag.NombreMadre }}
                                        </li>
                                    </ul>
                                </div>

                            </form>
                            
                        </div>                
                    </div> 
                    </b-card-text>
                    
                </b-tab>

                <!--tab2-->
                <b-tab title="Rasgos Personales">
                    <b-card-text>

                            <div class="row">

                                
                                <div class=" col-8 form-group">
                                    <form role="form">

                                        <div class="form-group w-25"
                                        v-if="enable.Estudiante">
                                            <label for="RecMedico"> Recomendación Medica </label>
                                            <select
                                                type="text"
                                                class="form-control"
                                                name="RecMedico"
                                                v-model="persona.RecMedico"
                                            >
                                                
                                                <option value="HABIL">HABIL</option>
                                                <option value="NO HABIL">NO HABIL</option>
                                                
                                            </select>
                                            <ul
                                                class="parsley-errors-list filled"
                                                id="parsley-id-19"
                                                v-if="errorBag.RecMedico"
                                            >
                                                <li class="parsley-required">
                                                    {{ errorBag.RecMedico }}
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="form-group"
                                        v-if="enable.Estudiante">
                                            <label for="Leer"> Sabe Leer </label>

                                            <div class="form-check">
                                                <input
                                                type="radio"
                                                class="form-check-input"
                                                name="Leer"
                                                id="NoLeer"
                                                value="NO"
                                                v-model="persona.Leer"
                                            />
                                                <label for="NoLeer" class="form-check-label">
                                                    NO
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input
                                                type="radio"
                                                class="form-check-input"
                                                name="Leer"
                                                id="SiLeer"
                                                value="SI"
                                                v-model="persona.Leer"
                                            />
                                                <label for="SiLeer" class="form-check-label">
                                                    SI
                                                </label>
                                            </div>
                                            <ul
                                                class="parsley-errors-list filled"
                                                id="parsley-id-19"
                                                v-if="errorBag.Leer"
                                            >
                                                <li class="parsley-required">
                                                    {{ errorBag.Leer }}
                                                </li>
                                            </ul>
                                        </div>
                                    
                                        <!---------------------------------->
                                        <div class="form-group w-50"
                                        v-if="enable.Estudiante">
                                            <label for="Estatura"> Estatura </label>
                                            <input
                                                type="number"
                                                class="form-control"
                                                name="Estatura"
                                                step="0.01"
                                                min="1.40"
                                                max="2.50"
                                                v-model="persona.Estatura"
                                            />
                                            <ul
                                                class="parsley-errors-list filled"
                                                id="parsley-id-19"
                                                v-if="errorBag.Estatura"
                                            >
                                                <li class="parsley-required">
                                                    {{ errorBag.Estatura }}
                                                </li>
                                            </ul>
                                        </div>
                                        <!----------------------------------->
                                        <div class="form-group w-50"
                                        v-if="enable.Estudiante">
                                            <label for="Peso"> Peso </label>
                                            <input
                                                type="number"
                                                class="form-control"
                                                name="Peso"
                                                min="45"
                                                max="90"
                                                v-model="persona.Peso"
                                            />
                                            <ul
                                                class="parsley-errors-list filled"
                                                id="parsley-id-19"
                                                v-if="errorBag.Peso"
                                            >
                                                <li class="parsley-required">
                                                    {{ errorBag.Peso }}
                                                </li>
                                            </ul>
                                        </div>
                                        <!----------------------------------->
                                        <div class="form-group"
                                        v-if="enable.Estudiante">
                                            <label for="CondFisica"> Condición Física </label>
                                            <select
                                                type="text"
                                                class="form-control"
                                                name="CondFisica"
                                                v-model="persona.CondFisica"
                                            >
                                                
                                                <option value="NORMAL">NORMAL</option>
                                                <option value="PRESENTA OBSERVACIONES">PRESENTA OBSERVACIONES</option>
                                                
                                            </select>
                                            <ul
                                                class="parsley-errors-list filled"
                                                id="parsley-id-19"
                                                v-if="errorBag.CondFisica"
                                            >
                                                <li class="parsley-required">
                                                    {{ errorBag.CondFisica }}
                                                </li>
                                            </ul>
                                        </div>
                                        <!---------------------------------->
                                        <div class="form-group"
                                        v-if="enable.Estudiante">
                                            <label for="EstNutricional"> Estado Nutricional </label>
                                            <select
                                                type="text"
                                                class="form-control"
                                                name="EstNutricional"
                                                v-model="persona.EstNutricional"
                                            >
                                                
                                                <option value="NORMAL">NORMAL</option>
                                                <option value="PRESENTA OBSERVACIONES">PRESENTA OBSERVACIONES</option>
                                                
                                            </select>
                                            <ul
                                                class="parsley-errors-list filled"
                                                id="parsley-id-19"
                                                v-if="errorBag.EstNutricional"
                                            >
                                                <li class="parsley-required">
                                                    {{ errorBag.EstNutricional }}
                                                </li>
                                            </ul>
                                        </div>
                                        <!---------------------------------->
                                        <div class="form-group"
                                        v-if="enable.Estudiante">
                                            <label for="GrupoSanguineo"> Grupo Sanguineo </label>
                                            <select
                                                type="text"
                                                class="form-control"
                                                name="GrupoSanguineo"
                                                v-model="persona.GrupoSanguineo"
                                            >
                                                
                                                <option value="ORH+">ORH+</option>
                                                <option value="ORH-">ORH-</option>
                                                <option value="ARH+">ARH+</option>
                                                <option value="ARH-">ARH-</option>
                                                
                                            </select>
                                            <ul
                                                class="parsley-errors-list filled"
                                                id="parsley-id-19"
                                                v-if="errorBag.GrupoSanguineo"
                                            >
                                                <li class="parsley-required">
                                                    {{ errorBag.GrupoSanguineo }}
                                                </li>
                                            </ul>
                                        </div>
                                        <!---------------------------------->
                                        <div class="form-group"
                                        v-if="enable.Estudiante">
                                            <label for="ColorPiel"> Color de Piel </label>
                                            <select
                                                type="text"
                                                class="form-control"
                                                name="ColorPiel"
                                                v-model="persona.ColorPiel"
                                            >
                                                
                                                <option value="PIEL BLANCA PALIDA">PIEL BLANCA PALIDA</option>
                                                <option value="PIEL BLANCA">PIEL BLANCA</option>
                                                <option value="PIEL BLANCA OSCURA">PIEL BLANCA OSCURA</option>
                                                <option value="PIEL MORENA CLARA">PIEL MORENA CLARA</option>
                                                <option value="PIEL MORENA OSCURA">PIEL MORENA OSCURA</option>
                                                <option value="PIEL OSCURA">PIEL OSCURA</option>
                                                
                                            </select>
                                            <ul
                                                class="parsley-errors-list filled"
                                                id="parsley-id-19"
                                                v-if="errorBag.ColorPiel"
                                            >
                                                <li class="parsley-required">
                                                    {{ errorBag.ColorPiel }}
                                                </li>
                                            </ul>
                                        </div>
                                        <!---------------------------------->
                                        <div class="form-group"
                                        v-if="enable.Estudiante">
                                            <label for="ColorOjos"> Color de Ojos </label>
                                            <select
                                                type="text"
                                                class="form-control"
                                                name="ColorOjos"
                                                v-model="persona.ColorOjos"
                                            >
                                                
                                                <option value="OJOS NEGROS">OJOS NEGROS</option>
                                                <option value="OJOS MARRONES">OJOS MARRONES</option>
                                                <option value="OJOS AZULES">OJOS AZULES</option>
                                                <option value="OJOS VERDES">OJOS VERDES</option>
                                                
                                            </select>
                                            <ul
                                                class="parsley-errors-list filled"
                                                id="parsley-id-19"
                                                v-if="errorBag.ColorOjos"
                                            >
                                                <li class="parsley-required">
                                                    {{ errorBag.ColorOjos }}
                                                </li>
                                            </ul>
                                        </div>
                                        <!---------------------------------->
                                        <div class="form-group"
                                        v-if="enable.Estudiante">
                                            <label for="Nariz"> Aspecto de Nariz </label>
                                            <select
                                                type="text"
                                                class="form-control"
                                                name="Nariz"
                                                v-model="persona.Nariz"
                                            >
                                                
                                                <option value="NARIZ RESPINGONA">NARIZ RESPINGONA</option>
                                                <option value="NARIZ CHATA">NARIZ CHATA</option>
                                                <option value="NARIZ ANCHA">NARIZ ANCHA</option>
                                                <option value="NARIZ ONDULADA">NARIZ ONDULADA</option>
                                                
                                            </select>
                                            <ul
                                                class="parsley-errors-list filled"
                                                id="parsley-id-19"
                                                v-if="errorBag.Nariz"
                                            >
                                                <li class="parsley-required">
                                                    {{ errorBag.Nariz }}
                                                </li>
                                            </ul>
                                        </div>
                                        <!---------------------------------->
                                        <div class="form-group"
                                        v-if="enable.Estudiante">
                                            <label for="Boca"> Aspecto de Boca </label>
                                            <select
                                                type="text"
                                                class="form-control"
                                                name="Boca"
                                                v-model="persona.Boca"
                                            >
                                                
                                                <option value="BOCA PEQUEÑA">BOCA PEQUEÑA</option>
                                                <option value="BOCA MEDIANA">BOCA MEDIANA</option>
                                                <option value="BOCA ANCHA">BOCA ANCHA</option>
                                                
                                            </select>
                                            <ul
                                                class="parsley-errors-list filled"
                                                id="parsley-id-19"
                                                v-if="errorBag.Boca"
                                            >
                                                <li class="parsley-required">
                                                    {{ errorBag.Boca }}
                                                </li>
                                            </ul>
                                        </div>
                                        <!---------------------------------->
                                        <div class="form-group"
                                        v-if="enable.Estudiante">
                                            <label for="Labio"> Aspecto de Labios </label>
                                            <select
                                                type="text"
                                                class="form-control"
                                                name="Labio"
                                                v-model="persona.Labio"
                                            >
                                                
                                                <option value="LABIOS NORMALES">LABIOS NORMALES</option>
                                                <option value="LABIOS MEDIANOS">LABIOS MEDIANOS</option>
                                                <option value="LABIOS CON VOLUMEN">LABIOS CON VOLUMEN</option>
                                                
                                            </select>
                                            <ul
                                                class="parsley-errors-list filled"
                                                id="parsley-id-19"
                                                v-if="errorBag.Labio"
                                            >
                                                <li class="parsley-required">
                                                    {{ errorBag.Labio }}
                                                </li>
                                            </ul>
                                        </div>
                                        <!---------------------------------->
                                        <div class="form-group"
                                        v-if="enable.Estudiante">
                                            <label for="Cabello"> Aspecto de Cabello </label>
                                            <select
                                                type="text"
                                                class="form-control"
                                                name="Cabello"
                                                v-model="persona.Cabello"
                                            >
                                                
                                                <option value="CABELLO LISO NEGRO">CABELLO LISO NEGRO</option>
                                                <option value="CABELLO ONDULADO NEGRO">CABELLO ONDULADO NEGRO</option>
                                                <option value="CABELLO CORTO NEGRO">CABELLO CORTO NEGRO</option>
                                                <option value="CABELLO LISO MARRON">CABELLO LISO MARRON</option>
                                                <option value="CABELLO ONDULADO MARRON">CABELLO ONDULADO MARRON</option>
                                                <option value="CABELLO CORTO MARRON">CABELLO CORTO MARRON</option>
                                                <option value="CABELLO LISO RUBIO">CABELLO LISO RUBIO</option>
                                                
                                            </select>
                                            <ul
                                                class="parsley-errors-list filled"
                                                id="parsley-id-19"
                                                v-if="errorBag.Cabello"
                                            >
                                                <li class="parsley-required">
                                                    {{ errorBag.Cabello }}
                                                </li>
                                            </ul>
                                        </div>


                                
                                    </form>
                                    
                                </div>

                            </div>
    
                    </b-card-text>
                </b-tab>

                <!--tab3-->
                <b-tab title="Habilidades">
                    <b-card-text>

                            <div class="row">

                                
                                <div class=" col-8 form-group">
                                    <form role="form">
                                        <div class="form-group"
                                        v-if="enable.Estudiante">
                                            <label for="Nadar"> Sabe Nadar </label>

                                            <div class="form-check">
                                                <input
                                                type="radio"
                                                class="form-check-input"
                                                name="Nadar"
                                                id="NoNadar"
                                                value="NO"
                                                v-model="persona.Nadar"
                                            />
                                                <label for="NoNadar" class="form-check-label">
                                                    NO
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input
                                                type="radio"
                                                class="form-check-input"
                                                name="Nadar"
                                                id="SiNadar"
                                                value="SI"
                                                v-model="persona.Nadar"
                                            />
                                                <label for="SiNadar" class="form-check-label">
                                                    SI
                                                </label>
                                            </div>
                                            <ul
                                                class="parsley-errors-list filled"
                                                id="parsley-id-19"
                                                v-if="errorBag.Nadar"
                                            >
                                                <li class="parsley-required">
                                                    {{ errorBag.Nadar }}
                                                </li>
                                            </ul>
                                        </div>
                                        <!----------------------------------->
                                        <div class="form-group"
                                        v-if="enable.Estudiante">
                                            <label for="Montar"> Sabe Montar a Caballo </label>

                                            <div class="form-check">
                                                <input
                                                type="radio"
                                                class="form-check-input"
                                                name="Montar"
                                                id="NoMontar"
                                                value="NO"
                                                v-model="persona.Montar"
                                            />
                                                <label for="NoMontar" class="form-check-label">
                                                    NO
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input
                                                type="radio"
                                                class="form-check-input"
                                                name="Montar"
                                                id="SiMontar"
                                                value="SI"
                                                v-model="persona.Montar"
                                            />
                                                <label for="SiMontar" class="form-check-label">
                                                    SI
                                                </label>
                                            </div>
                                            <ul
                                                class="parsley-errors-list filled"
                                                id="parsley-id-19"
                                                v-if="errorBag.Montar"
                                            >
                                                <li class="parsley-required">
                                                    {{ errorBag.Montar }}
                                                </li>
                                            </ul>
                                        </div>
                                        <!----------------------------------->
                                        <div class="form-group"
                                        v-if="enable.Estudiante">
                                            <label for="ConduceVehiculo"> Conduce Vehículo </label>

                                            <div class="form-check">
                                                <input
                                                type="radio"
                                                class="form-check-input"
                                                name="ConduceVehiculo"
                                                id="NoVehiculo"
                                                value="NO"
                                                v-model="persona.ConduceVehiculo"
                                            />
                                                <label for="NoVehiculo" class="form-check-label">
                                                    NO
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input
                                                type="radio"
                                                class="form-check-input"
                                                name="ConduceVehiculo"
                                                id="SiVehiculo"
                                                value="SI"
                                                v-model="persona.ConduceVehiculo"
                                            />
                                                <label for="SiVehiculo" class="form-check-label">
                                                    SI
                                                </label>
                                            </div>
                                            <ul
                                                class="parsley-errors-list filled"
                                                id="parsley-id-19"
                                                v-if="errorBag.ConduceVehiculo"
                                            >
                                                <li class="parsley-required">
                                                    {{ errorBag.ConduceVehiculo }}
                                                </li>
                                            </ul>
                                        </div>
                                        <!----------------------------------->
                                        <div class="form-group"
                                         v-if="enable.Estudiante">
                                            <label for="ConduceEmbarcacion"> Conduce Embarcación </label>

                                            <div class="form-check">
                                                <input
                                                type="radio"
                                                class="form-check-input"
                                                name="ConduceEmbarcacion"
                                                id="NoEmbarcacion"
                                                value="NO"
                                                v-model="persona.ConduceEmbarcacion"
                                            />
                                                <label for="NoEmbarcacion" class="form-check-label">
                                                    NO
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input
                                                type="radio"
                                                class="form-check-input"
                                                name="ConduceEmbarcacion"
                                                id="SiEmbarcacion"
                                                value="SI"
                                                v-model="persona.ConduceEmbarcacion"
                                            />
                                                <label for="SiEmbarcacion" class="form-check-label">
                                                    SI
                                                </label>
                                            </div>
                                            <ul
                                                class="parsley-errors-list filled"
                                                id="parsley-id-19"
                                                v-if="errorBag.ConduceEmbarcacion"
                                            >
                                                <li class="parsley-required">
                                                    {{ errorBag.ConduceEmbarcacion }}
                                                </li>
                                            </ul>
                                        </div>
                                        <!----------------------------------->
                                        
                                        
                                    </form>
                                    
                                </div>

                            </div>
    
                    </b-card-text>
                </b-tab>




                </b-tabs>
            </b-card>
            </div>




            


            <template #modal-footer>
                <a @click.prevent="savePersona()" class="btn btn-success">
                    <i class="fa fa-save"></i>
                    {{ $t("actions.save") }}
                </a>
                <button
                    type="button"
                    class="btn btn-danger"
                    @click.prevent="cancelPersona()"
                >
                    <i class="fa fa-window-close"></i>
                    {{ $t("actions.cancel") }}
                </button>
            </template>
        </b-modal>

        <!-- formulario de vista cambiar password persona-->
        <b-modal ref="view-password" size="md" title="Persona">
            <div class="row">
                <div class="col-lg-12">
                    <label for="new">Nueva Contraseña:</label>
                    <input
                        type="password"
                        class="form-control"
                        name="new"
                        v-model="password.new"
                    />
                    <ul
                        class="parsley-errors-list filled"
                        id="parsley-|id-19"
                        v-if="errorBag.new"
                    >
                        <li class="parsley-required">@{{ errorBag.new }}</li>
                    </ul>
                </div>
                <div class="col-lg-12">
                    <label for="confirm">Confirmar Contraseña:</label>
                    <input
                        type="password"
                        class="form-control"
                        name="confirm"
                        v-model="password.confirm"
                    />
                    <ul
                        class="parsley-errors-list filled"
                        id="parsley-|id-19"
                        v-if="errorBag.confirm"
                    >
                        <li class="parsley-required">
                            @{{ errorBag.confirm }}
                        </li>
                    </ul>
                </div>
            </div>
            <template #modal-footer>
                <a
                    @click.prevent="changePassword"
                    class="btn btn-success waves-effect waves-light"
                >
                    {{ $t("actions.save") }}
                </a>
                <button
                    type="button"
                    class="btn btn-danger"
                    @click.prevent="cancelPassword"
                >
                    <i class="fa fa-window-close"></i>
                    {{ $t("actions.cancel") }}
                </button>
            </template>
        </b-modal>
    </div>

</template>



<script src="./PersonaPage.js"></script>
