<template>
    <div>
        <Loader v-if="isLoading"></Loader>
        <div class="page-header-title">
            <br />
            <h4 class="page-title">{{ $t("nav.Persona") }}</h4>
        </div>
        <div class="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title text-dark m-0">
                                    Información General CEFOR
                                </h3>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-5">
                                        <img
                                            :src="ruta"
                                            style="width: 100%"
                                        />
                                        <br />
                                        <br />
                                        
                                    </div>

                                    <div class="col-md-7">
                                        <h4>{{ $t("nav.Persona") }}</h4>
                                        <p class="text-muted">
                                            {{ persona.Persona }}
                                        </p>
                                        <h4>Estado del Estudiante:</h4>
                                        <p class="text-muted">
                                            {{ persona.EstadoPersona }}
                                        </p>
                                        <h4>Compañia:</h4>
                                        <p class="text-muted">
                                            {{ persona.NombreCompania }}
                                        </p>
                                        <h4>Sección:</h4>
                                        <p class="text-muted">
                                            {{ persona.NombreSeccion }}
                                        </p>
                                        <h4>Escuadra:</h4>
                                        <p class="text-muted">
                                            {{ persona.NombreEscuadra }}
                                        </p>
                                        <h4>Asistencias a Instrucción Militar:</h4>
                                        <p class="text-muted">
                                            {{ persona.CantidadAsistencia }}
                                        </p>
                                        <h4>Faltas a Instrucción Militar:</h4>
                                        <p class="text-muted">
                                            {{ persona.CantidadFalta }}
                                        </p>
                                        <h4>Permisos a Instrucción Militar:</h4>
                                        <p class="text-muted">
                                            {{ persona.CantidadPermiso }}
                                        </p>
                                        <h4>Revista Militar:</h4>
                                        <p class="text-muted">
                                            {{ persona.RevistaMilitar }}
                                        </p>
                                        
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        

        
    </div>
</template>

<script src="./ProfileCeforPage.js"></script>