<template>
    <div>
        <Loader v-if="isLoading"></Loader>
        <div class="page-header-title">
            <br />
            <h4 class="page-title">Estado de los Documentos en el Sistema</h4>
        </div>
        <div class="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title text-dark m-0">
                                    Detalle de Registros
                                    <div class="float-right">
                                        <a
                                            href="#"
                                            @click.prevent="newEstadoDocumento"
                                            class="btn btn-sm btn-success waves-effect waves-light m-l-10"
                                        >
                                            <i class="fa fa-plus"></i>
                                            {{ $t("actions.new") }}
                                        </a>
                                    </div>
                                </h3>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <data-table
                                        :columns="columns"
                                        :ajax="ajax"
                                        width="100%"
                                        @draw="draw"
                                        ref="datatable-estadoDocumento"
                                    ></data-table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <!-- vista de consulta------------------------------------------->
        <b-modal ref="view-estadoDocumento" size="lg" title="EstadoDocumento">
            <h4>Estado del Documento</h4>
            <p class="text-muted">{{ estadoDocumento.EstadoDocumento }}</p>
            <h4>Descripción</h4>
            <p class="text-muted">{{ estadoDocumento.Descripcion }}</p>
            <template #modal-footer>
                <a @click.prevent="editEstadoDocumento" class="btn btn-warning">
                    <i class="fa fa-edit"></i>
                    {{ $t("actions.edit") }}
                </a>
                <a @click.prevent="deleteEstadoDocumento" class="btn btn-danger">
                    <i class="fa fa-trash"></i>
                    {{ $t("actions.destroy") }}
                </a>
            </template>
        </b-modal>




        <!-- vista de consulta-------------------------------------------->
        <b-modal ref="frm-estadoDocumento" size="lg" title="EstadoDocumento">
            <form role="form">
                <div class="form-group">
                    <label for="EstadoDocumento">Estado de Documento</label>
                    <input
                        type="text"
                        class="form-control"
                        name="EstadoDocumento"
                        v-model="estadoDocumento.EstadoDocumento"
                    />
                    <ul
                        class="parsley-errors-list filled"
                        id="parsley-id-19"
                        v-if="errorBag.EstadoDocumento"
                    >
                        <li class="parsley-required">
                            {{ errorBag.EstadoDocumento }}
                        </li>
                    </ul>
                </div>
                <div class="form-group">
                    <label for="Descripcion">Descripcion</label>
                    <input
                        type="text"
                        class="form-control"
                        name="Descripcion"
                        v-model="estadoDocumento.Descripcion" 
                    />
                    <ul
                        class="parsley-errors-list filled"
                        id="parsley-id-19"
                        v-if="errorBag.Descripcion"
                    >
                        <li class="parsley-required">
                            {{ errorBag.Descripcion }}
                        </li>
                    </ul>
                </div>
            </form>

            <template #modal-footer>
                <a @click.prevent="saveEstadoDocumento()" class="btn btn-success">
                    <i class="fa fa-save"></i>
                    {{ $t("actions.save") }}
                </a>
                <button
                    type="button"
                    class="btn btn-danger"
                    @click.prevent="cancelEstadoDocumento()"
                >
                    <i class="fa fa-window-close"></i>
                    {{ $t("actions.cancel") }}
                </button>
            </template>
        </b-modal>
    </div>
</template>

<script src="./EstadoDocumentoPage.js"></script>