<template>
    <div>
        <Loader v-if="isLoading"></Loader>
        <div class="page-header-title">
            <br />
            <h4 class="page-title">Control de Asistencia</h4>
        </div>
        <div class="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title text-dark m-0">
                                    Detalle de Registros

                                    <!--
                                    <div class="float-right">
                                        <a
                                            href="#"
                                            @click.prevent="newAsistencia"
                                            class="btn btn-sm btn-success waves-effect waves-light m-l-10"
                                        >
                                            <i class="fa fa-plus"></i>
                                            {{ $t("actions.new") }}
                                        </a>
                                    </div>
                                    -->
                                </h3>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <data-table
                                        :columns="columns"
                                        :ajax="ajax"
                                        width="100%"
                                        @draw="draw"
                                        ref="datatable-asistencia"
                                    ></data-table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <!-- vista de consulta-----------------v-if="pcse.estado_persona.EstadoPersona == 'Habilitado' " :style="{ color:colorHabilitado}"-------------------------->
        <b-modal ref="view-estudiantes" size="lg" title="Nomina de Estudiantes">

            
                        
            <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Nro</th>
                            <th scope="col">Nombre del Estudiante</th>
                            <th scope="col">Estado del Estudiante</th>
                            <th scope="col">Asistencias<i class="fa fa-check"></i></th>
                            <th scope="col">Faltas <i class="fa fa-check"></i></th>
                            <th scope="col">Permisos <i class="fa fa-check"></i></th>
                            <th scope="col">Revistas <i class="fa fa-check"></i></th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            :value="pcse.id"
                            v-for="pcse in personasporcomsecesc"
                            v-bind:key="pcse.id"                        
                        >
                            <td>
                                {{ pcse.id }}
                            </td>
                            
                            <td>
                                {{ pcse.persona ? pcse.persona.Persona : "" }}
                            </td>
                            <td>
                                <p 
                                v-show ="pcse.estado_persona.EstadoPersona == 'En instruccion' " class="badge badge-pill badge-success"
                                > {{ pcse.estado_persona ? pcse.estado_persona.EstadoPersona : "" }} </p>
                                <p 
                                v-show ="pcse.estado_persona.EstadoPersona == 'En observacion' " class="badge badge-pill badge-warning"
                                > {{ pcse.estado_persona ? pcse.estado_persona.EstadoPersona : "" }} </p>
                                <p 
                                v-show ="pcse.estado_persona.EstadoPersona == 'No habilitado' " class="badge badge-pill badge-danger"
                                > {{ pcse.estado_persona ? pcse.estado_persona.EstadoPersona : "" }} </p>
                                <p 
                                v-show ="pcse.estado_persona.EstadoPersona == 'Habilitado a la certificacion' " class="badge badge-pill badge-info"
                                > {{ pcse.estado_persona ? pcse.estado_persona.EstadoPersona : "" }} </p>
                            </td>
                            <td>
                                {{ pcse.CantidadAsistencia ? pcse.CantidadAsistencia : "" }}
                            </td>  
                            <td>
                                {{ pcse.CantidadFalta ? pcse.CantidadFalta : "" }}
                            </td> 
                            <td>
                                {{ pcse.CantidadPermiso ? pcse.CantidadPermiso : "" }}
                            </td>
                            <td>
                                {{ pcse.RevistaMilitar ? pcse.RevistaMilitar : "" }}
                            </td>  
                        </tr>             
                    </tbody>                         
                </table>

            <template #modal-footer>
                <a @click.prevent="tomarAsistencia" class="btn btn-primary">
                    <i class="fa fa-edit"></i>
                    Registrar Asistencia 
                </a>
                <a @click.prevent="tomarRevista" class="btn btn-success">
                    <i class="fa fa-edit"></i>
                    Registrar Revista Militar 
                </a>
                

                <!--
                <a @click.prevent="deleteAsistencia" class="btn btn-danger">
                    <i class="fa fa-trash"></i>
                    {{ $t("actions.destroy") }}
                </a>
                -->
            </template>
        </b-modal>




        <!-- vista para el registro de asistencia a instruccion militar-------------------------------------------->
        <b-modal ref="frm-asistencia" size="xl" title="Registro de Asistencias a Instrucción Militar">
            <form role="form">
                <div class="row">
                    <div class="col-8">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Nro</th>
                                    <th scope="col">Nombre del Estudiante</th>
                                    <th scope="col">Estado</th> 
                                    <th scope="col">Asistencia</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    :value="pcse.id"
                                    v-for="pcse in personasporcomsecesc"
                                    v-bind:key="pcse.id"                        
                                >
                                    <td>
                                        {{ pcse.id }}
                                    </td>
                                    
                                    <td>
                                        {{ pcse.persona ? pcse.persona.Persona : "" }}
                                    </td>

                                    
                                    <td>
                                        <p 
                                        v-show ="pcse.estado_persona.EstadoPersona == 'En instruccion' " class="badge badge-pill badge-success"
                                        > {{ pcse.estado_persona ? pcse.estado_persona.EstadoPersona : "" }} </p>
                                        <p 
                                        v-show ="pcse.estado_persona.EstadoPersona == 'En observacion' " class="badge badge-pill badge-warning"
                                        > {{ pcse.estado_persona ? pcse.estado_persona.EstadoPersona : "" }} </p>
                                        <p 
                                        v-show ="pcse.estado_persona.EstadoPersona == 'No habilitado' " class="badge badge-pill badge-danger"
                                        > {{ pcse.estado_persona ? pcse.estado_persona.EstadoPersona : "" }} </p>
                                        <p 
                                        v-show ="pcse.estado_persona.EstadoPersona == 'Habilitado a la certificacion' " class="badge badge-pill badge-info"
                                        > {{ pcse.estado_persona ? pcse.estado_persona.EstadoPersona : "" }} </p>
                                    </td>

                                    <td>
                                        <b-form-radio-group>
                                            <b-form-radio
                                                class="text-success"
                                                v-model="pcse.TipoAsistencia" 
                                                name="asistencia"
                                                value=1>A
                                            </b-form-radio>
                                            <b-form-radio 
                                                class="text-danger"
                                                v-model="pcse.TipoAsistencia" 
                                                name="asistencia"
                                                value=2>F
                                            </b-form-radio>
                                            <b-form-radio 
                                                class="text-warning"
                                                v-model="pcse.TipoAsistencia" 
                                                name="asistencia"
                                                value=3>P
                                            </b-form-radio>
                                        </b-form-radio-group>
                                        
                                        
                                    </td>
                                    
                                    <!--

                                        <div>
                                            <b-form-checkbox
                                                size="lg"
                                                v-model="pcse.TipoAsistencia"
                                                value=1
                                                unchecked-value=2
                                                >
                                                
                                            </b-form-checkbox>
                                        </div>


                                    <td>
                                        
                                        
                                        <b-form-select 
                                        type="text"
                                        class="form-control"
                                        name="TipoAsistencia"
                                        v-model="pcse.TipoAsistencia"
                                        
                                        >
                                            <option
                                                :value="ta.id"
                                                v-for="ta in tipoAsistencias"
                                                v-bind:key="ta.id"
                                            >
                                                {{ ta.TipoAsistencia }}

                                            </option>

                                        </b-form-select>
                                        <ul
                                            class="parsley-errors-list filled"
                                            id="parsley-id-19"
                                            v-if="errorBag.TipoAsistencia"
                                        >
                                            <li class="parsley-required">
                                                {{ errorBag.TipoAsistencia }}
                                            </li>
                                        </ul>
                                        
                                                  
                                                                                        
                                    </td>
                                    -->

                                    
                                </tr>             
                            </tbody>                         
                        </table>   


                    </div>

                    
                        <div class="col-4">
                            

                            
                                <h1> <span class="text-primary">Fecha asistencia</span> {{date}}</h1>

                                <!--
                                <v-app class="mb-0 pb-0">
                                    <v-card>
                                    <v-date-picker 
                                     
                                     header-color="primary" 
                                     Locale="es"
                                     :min="min"
                                     :max="max"
                                     v-model="fecha"
                                    ></v-date-picker>
                                </v-card>
                                </v-app>
                                -->
                            

                        </div>
                      
                </div>
                <!--
                <div class="form-group">
                    <label for="TipoAsistencia">Tipo de Asistencia</label>
                    <input
                        type="text"
                        class="form-control"
                        name="TipoAsistencia"
                        v-model="tipoAsistencia.TipoAsistencia"
                    />
                    <ul
                        class="parsley-errors-list filled"
                        id="parsley-id-19"
                        v-if="errorBag.TipoAsistencia"
                    >
                        <li class="parsley-required">
                            {{ errorBag.TipoAsistencia }}
                        </li>
                    </ul>
                </div>
                <div class="form-group">
                    <label for="Descripcion">Descripcion</label>
                    <input
                        type="text"
                        class="form-control"
                        name="Descripcion"
                        v-model="tipoAsistencia.Descripcion" 
                    />
                    <ul
                        class="parsley-errors-list filled"
                        id="parsley-id-19"
                        v-if="errorBag.Descripcion"
                    >
                        <li class="parsley-required">
                            {{ errorBag.Descripcion }}
                        </li>
                    </ul>
                </div>
                -->

            </form>

            <template #modal-footer>
                <a @click.prevent="saveAsistencia()" class="btn btn-success">
                    <i class="fa fa-save"></i>
                    {{ $t("actions.save") }}
                </a>
                <button
                    type="button"
                    class="btn btn-danger"
                    @click.prevent="cancelAsistencia()"
                >
                    <i class="fa fa-window-close"></i>
                    {{ $t("actions.cancel") }}
                </button>
            </template>
        </b-modal>

        <!-- vista para el registro de revista militar-------------------------------------------->
        <b-modal ref="frm-revista" size="xl" title="Registro de Asistencias a la Revista Militar">
            <form role="form">
                <div class="row">
                    <div class="col-8">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Nro</th>
                                    <th scope="col">Nombre del Estudiante</th>
                                    <th scope="col">Estado</th> 
                                    <th scope="col">Asistencia</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    :value="pcse.id"
                                    v-for="pcse in personasporcomsecesc"
                                    v-bind:key="pcse.id"                        
                                >
                                    <td>
                                        {{ pcse.id }}
                                    </td>
                                    
                                    <td>
                                        {{ pcse.persona ? pcse.persona.Persona : "" }}
                                    </td>

                                    
                                    <td>
                                        <p 
                                        v-show ="pcse.estado_persona.EstadoPersona == 'En instruccion' " class="badge badge-pill badge-success"
                                        > {{ pcse.estado_persona ? pcse.estado_persona.EstadoPersona : "" }} </p>
                                        <p 
                                        v-show ="pcse.estado_persona.EstadoPersona == 'En observacion' " class="badge badge-pill badge-warning"
                                        > {{ pcse.estado_persona ? pcse.estado_persona.EstadoPersona : "" }} </p>
                                        <p 
                                        v-show ="pcse.estado_persona.EstadoPersona == 'No habilitado' " class="badge badge-pill badge-danger"
                                        > {{ pcse.estado_persona ? pcse.estado_persona.EstadoPersona : "" }} </p>
                                        <p 
                                        v-show ="pcse.estado_persona.EstadoPersona == 'Habilitado a la certificacion' " class="badge badge-pill badge-info"
                                        > {{ pcse.estado_persona ? pcse.estado_persona.EstadoPersona : "" }} </p>
                                    </td>
                                    

                                    <td>
                                        
                                        <b-form-radio-group>
                                            <b-form-radio
                                                class="text-success "
                                                v-model="pcse.TipoAsistencia" 
                                                name="asistencia"
                                                value=1>A
                                            </b-form-radio>
                                            <b-form-radio 
                                                class="text-danger"
                                                v-model="pcse.TipoAsistencia" 
                                                name="asistencia"
                                                value=2>F
                                            </b-form-radio>
                                            <b-form-radio 
                                                class="text-warning"
                                                v-model="pcse.TipoAsistencia" 
                                                name="asistencia"
                                                value=3>P
                                            </b-form-radio>
                                        </b-form-radio-group>
                                                                                       
                                    </td>

                                    
                                </tr>             
                            </tbody>                         
                        </table>   


                    </div>

                    
                        <div class="col-4">
                            

                            
                                <h1> <span class="text-primary">Fecha de la Revista Militar:</span> {{date}}</h1>

                                <!--
                                <v-app class="mb-0 pb-0">
                                    <v-card>
                                    <v-date-picker 
                                     
                                     header-color="primary" 
                                     Locale="es"
                                     :min="min"
                                     :max="max"
                                     v-model="fecha"
                                    ></v-date-picker>
                                </v-card>
                                </v-app>
                                -->
                            

                        </div>
                      
                </div>
                <!--
                <div class="form-group">
                    <label for="TipoAsistencia">Tipo de Asistencia</label>
                    <input
                        type="text"
                        class="form-control"
                        name="TipoAsistencia"
                        v-model="tipoAsistencia.TipoAsistencia"
                    />
                    <ul
                        class="parsley-errors-list filled"
                        id="parsley-id-19"
                        v-if="errorBag.TipoAsistencia"
                    >
                        <li class="parsley-required">
                            {{ errorBag.TipoAsistencia }}
                        </li>
                    </ul>
                </div>
                <div class="form-group">
                    <label for="Descripcion">Descripcion</label>
                    <input
                        type="text"
                        class="form-control"
                        name="Descripcion"
                        v-model="tipoAsistencia.Descripcion" 
                    />
                    <ul
                        class="parsley-errors-list filled"
                        id="parsley-id-19"
                        v-if="errorBag.Descripcion"
                    >
                        <li class="parsley-required">
                            {{ errorBag.Descripcion }}
                        </li>
                    </ul>
                </div>
                -->

            </form>

            <template #modal-footer>
                <a @click.prevent="saveRevista()" class="btn btn-success">
                    <i class="fa fa-save"></i>
                    {{ $t("actions.save") }}
                </a>
                <button
                    type="button"
                    class="btn btn-danger"
                    @click.prevent="cancelRevista()"
                >
                    <i class="fa fa-window-close"></i>
                    {{ $t("actions.cancel") }}
                </button>
            </template>
        </b-modal>

    </div>
</template>

<script src="./AsistenciaPage.js"></script>