<template>
    <v-list nav dense>


        <v-list-item-group>
            <!---perfil-->
            <router-link
                class="black--text text--accent-4"
                to="Profile"
                active-class="blue--text text--accent-4"
                v-if="auth.Rol==1 || auth.Rol==2 || auth.Rol==3 || auth.Rol==5"
            >
                <v-list-item>
                    <v-list-item-icon>
                        <v-icon
                        
                        style="color: rgb(0,63,138);"
                        >
                            mdi mdi-account-circle
                        </v-icon>
                    </v-list-item-icon>

                    <v-list-item-content>
                        <v-list-item-title>{{
                            $t("nav.Profile")
                        }}</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
            </router-link>

            <!---perfilCEFOR-->
            <router-link
                class="black--text text--accent-4"
                to="ProfileCefor"
                active-class="blue--text text--accent-4"
                v-if="auth.Rol==3"
            >
                <v-list-item>
                    <v-list-item-icon>
                        <v-icon
                        
                        style="color: rgb(0,63,138);"
                        >
                          mdi-account-card-details
                        </v-icon>
                    </v-list-item-icon>

                    <v-list-item-content>
                        <v-list-item-title>
                            Infomación CEFOR
                        </v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
            </router-link>

            <!---persona-->
            <router-link
                class="black--text text--accent-4"
                to="Persona"
                active-class="blue--text text--accent-4"
                v-if="auth.Rol==1  || auth.Rol==2"
            >
                <v-list-item>
                    <v-list-item-icon>
                        <v-icon
                        
                        style="color: rgb(0,63,138);"
                        >
                        mdi-account-multiple</v-icon>
                    </v-list-item-icon>

                    <v-list-item-content>
                        <v-list-item-title>{{
                            $t("nav.Persona")
                        }}</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
            </router-link>

            <!--unidad academica-->
            <router-link
                class="black--text text--accent-4"
                to="UnidadAcademica"
                active-class="blue--text text--accent-4"
                v-if="auth.Rol==1"
            >
                <v-list-item>
                    <v-list-item-icon>
                        <v-icon
                        style="color: rgb(0,63,138);"
                        >mdi-school</v-icon>
                    </v-list-item-icon>

                    <v-list-item-content>
                        <v-list-item-title>{{
                            $t("nav.UnidadAcademica")
                        }}</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
            </router-link>

            <!---rol-->
            <router-link
                class="black--text text--accent-4"
                to="Rol"
                active-class="blue--text text--accent-4"
                v-if="auth.Rol==1"
            >
                <v-list-item>
                    <v-list-item-icon>
                        <v-icon
                        style="color: rgb(0,63,138);"
                        >mdi-key</v-icon>
                    </v-list-item-icon>

                    <v-list-item-content>
                        <v-list-item-title>{{
                            $t("nav.Rol")
                        }}</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
            </router-link>

            <!---Documentacion-->
            <router-link
                class="black--text text--accent-4"
                to="Documentacion"
                active-class="blue--text text--accent-4"
                v-if="auth.Rol==1 || auth.Rol==2 || auth.Rol==3"
            >
                <v-list-item>
                    <v-list-item-icon>
                        <v-icon
                        style="color: rgb(0,63,138);"
                        >mdi-book-open-page-variant</v-icon>
                    </v-list-item-icon>

                    <v-list-item-content>
                        <v-list-item-title>Documentación</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
            </router-link>

            <!---tipo reporte ver-->
            <router-link
                class="black--text text--accent-4"
                to="TipoReporteVer"
                active-class="blue--text text--accent-4"
                v-if="auth.Rol==1  || auth.Rol==2"
            >
                <v-list-item>
                    <v-list-item-icon>
                        <v-icon
                        style="color: rgb(0,63,138);"
                        >mdi-file-chart</v-icon>
                    </v-list-item-icon>

                    <v-list-item-content>
                        <v-list-item-title>{{
                            $t("nav.TipoReporteVer")
                        }}</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
            </router-link>
            
        
            <!---compañias-->
            <router-link
                class="black--text text--accent-4"
                to="Compania"
                active-class="blue--text text--accent-4"
                v-if="auth.Rol==1 || auth.Rol==2"
            >
                <v-list-item>
                    <v-list-item-icon>
                        <v-icon
                        style="color: rgb(0,63,138);"
                        >mdi-widgets</v-icon>
                    </v-list-item-icon>

                    <v-list-item-content>
                        <v-list-item-title>Organizar Compañias</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
            </router-link>

            <!---asistencias-->
            <router-link
                class="black--text text--accent-4"
                to="Asistencia"
                active-class="blue--text text--accent-4"
                v-if="auth.Rol==1 || auth.Rol==2 || auth.Rol==5 "
            >
                <v-list-item>
                    <v-list-item-icon>
                        <v-icon
                        style="color: rgb(0,63,138);"
                        >mdi mdi-checkbox-multiple-marked</v-icon>
                    </v-list-item-icon>

                    <v-list-item-content>
                        <v-list-item-title>Control de Asistencia</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
            </router-link>

            <!---certificacion-->
            <router-link
                class="black--text text--accent-4"
                to="Certificacion"
                active-class="blue--text text--accent-4"
                v-if="auth.Rol==1"
            >
                <v-list-item>
                    <v-list-item-icon>
                        <v-icon
                        style="color: rgb(0,63,138);"
                        >mdi mdi-certificate</v-icon>
                    </v-list-item-icon>

                    <v-list-item-content>
                        <v-list-item-title>Certificación CEFOR</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
            </router-link>

        </v-list-item-group>

        <!---Grupo parametricas--->
        <v-list-group
        :value="false"
        v-if="auth.Rol==1"
        >
            <template v-slot:activator>
                <v-list-item-icon>
                        <v-icon
                         style="color: rgb(245, 214, 40);"
                        >mdi-settings</v-icon>
                </v-list-item-icon>
                <v-list-item-title>Paramétricas</v-list-item-title>
            </template>
            
            <v-list-item >
                <!---estado persona-->
                <router-link
                    class="black--text text--accent-4"
                    to="EstadoPersona"
                    active-class="blue--text text--accent-4"
                    v-if="auth.Rol==1"
                >
                    <v-list-item>
                        <v-list-item-icon>
                            <v-icon
                            style="color: rgb(0,63,138);"
                            >mdi-clipboard-account</v-icon>
                        </v-list-item-icon>

                        <v-list-item-content>
                            <v-list-item-title>Estatus del Personal</v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                </router-link>
            </v-list-item> 
            <v-list-item >
                <!---estado asistencia-->
                <router-link
                    class="black--text text--accent-4"
                    to="EstadoAsistencia"
                    active-class="blue--text text--accent-4"
                    v-if="auth.Rol==1"
                >
                    <v-list-item>
                        <v-list-item-icon>
                            <v-icon
                            style="color: rgb(0,63,138);"
                            >mdi-file-check</v-icon>
                        </v-list-item-icon>

                        <v-list-item-content>
                            <v-list-item-title>Estatus de Asistencia</v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                </router-link>
            </v-list-item>
            <v-list-item >
                <!---estado documento-->
                <router-link
                    class="black--text text--accent-4"
                    to="EstadoDocumento"
                    active-class="blue--text text--accent-4"
                    v-if="auth.Rol==1  || auth.Rol==2"
                >
                    <v-list-item>
                        <v-list-item-icon>
                            <v-icon
                            style="color: rgb(0,63,138);"
                            >mdi-file-account</v-icon>
                        </v-list-item-icon>

                        <v-list-item-content>
                            <v-list-item-title>Estatus de Documentos</v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                </router-link>
            </v-list-item>      
        </v-list-group>

        <!---parametricas para organizar compañias--->
        <v-list-group
        :value="false"
        v-if="auth.Rol==1 || auth.Rol==2"
        >
            <template v-slot:activator>
                <v-list-item-icon>
                        <v-icon
                         style="color: rgb(0,63,138);"
                        >mdi mdi-font-awesome</v-icon>
                </v-list-item-icon>
                <v-list-item-title>Crear Unidades</v-list-item-title>
            </template>
            <v-list-item>
                <!---secciones-->
                <router-link
                    class="black--text text--accent-4"
                    to="Seccion"
                    active-class="blue--text text--accent-4"
                    v-if="auth.Rol==1 || auth.Rol==2"
                >
                    <v-list-item>
                        <v-list-item-icon>
                            <v-icon
                            style="color: rgb(0,63,138);"
                            >mdi-file-tree</v-icon>
                        </v-list-item-icon>

                        <v-list-item-content>
                            <v-list-item-title>Crear Secciónes</v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                </router-link>

            </v-list-item>
            
            <v-list-item >
                <!---escuadras-->
                <router-link
                    class="black--text text--accent-4"
                    to="Escuadra"
                    active-class="blue--text text--accent-4"
                    v-if="auth.Rol==1 || auth.Rol==2"
                >
                    <v-list-item>
                        <v-list-item-icon>
                            <v-icon
                            style="color: rgb(0,63,138);"
                            >mdi-lan</v-icon>
                        </v-list-item-icon>

                        <v-list-item-content>
                            <v-list-item-title>Crear Escuadras</v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                </router-link>
            </v-list-item>
            <v-list-item>
                <!---tipo de compañia-->
                <router-link
                    class="black--text text--accent-4"
                    to="TipoCompania"
                    active-class="blue--text text--accent-4"
                    v-if="auth.Rol==1 || auth.Rol==2"
                >
                    <v-list-item>
                        <v-list-item-icon>
                            <v-icon
                            style="color: rgb(0,63,138);"
                            >mdi-checkbox-multiple-marked</v-icon>
                        </v-list-item-icon>

                        <v-list-item-content>
                            <v-list-item-title>Tipos de Compañias</v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                </router-link>
            </v-list-item>
            <v-list-item>
                <!---tipo asistencia-->
                <router-link
                    class="black--text text--accent-4"
                    to="TipoAsistencia"
                    active-class="blue--text text--accent-4"
                    v-if="auth.Rol==1"
                >
                    <v-list-item>
                        <v-list-item-icon>
                            <v-icon
                            style="color: rgb(0,63,138);"
                            >mdi-account-check</v-icon>
                        </v-list-item-icon>

                        <v-list-item-content>
                            <v-list-item-title>Tipo de Asistencia</v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                </router-link>
            </v-list-item>
            
        </v-list-group>
        
        <!--parametricas para tipos-->
        <v-list-group
        :value="false"
        v-if="auth.Rol==1"
        >
            <template v-slot:activator>
                <v-list-item-icon>
                        <v-icon
                         style="color: rgb(0,63,138);"
                        >mdi-file-multiple</v-icon>
                </v-list-item-icon>
                <v-list-item-title>Tipo de Archivo</v-list-item-title>
            </template>
            <v-list-item>
                <!---tipo documentos-->
                <router-link
                    class="black--text text--accent-4"
                    to="TipoDocumento"
                    active-class="blue--text text--accent-4"
                    v-if="auth.Rol==1"
                >
                    <v-list-item>
                        <v-list-item-icon>
                            <v-icon
                            style="color: rgb(0,63,138);"
                            >mdi-note-text</v-icon>
                        </v-list-item-icon>

                        <v-list-item-content>
                            <v-list-item-title>Tipo de Documentos</v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                </router-link>
            </v-list-item>
            
            <v-list-item>

                <!---Tipo reporte-->
            <router-link
                class="black--text text--accent-4"
                to="TipoReporte"
                active-class="blue--text text--accent-4"
                v-if="auth.Rol==1  || auth.Rol==2"
            >
                <v-list-item>
                    <v-list-item-icon>
                        <v-icon
                        style="color: rgb(0,63,138);"
                        >mdi-note-text</v-icon>
                    </v-list-item-icon>

                    <v-list-item-content>
                        <v-list-item-title>{{
                            $t("nav.TipoReporte")
                        }}</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
            </router-link>

            </v-list-item>    
         </v-list-group>  


    </v-list>
    
</template>

<script>
export default {
    name: "MenuVuetify",
    data() {
        return {
            msg: "MenuVuetify",
            auth:{}
        };
    },

    mounted() {
        this.auth = JSON.parse(localStorage.getItem('persona'));
    }
};
</script>