<template>
    <div>
        <Loader v-if="isLoading"></Loader>
        <div class="page-header-title">
            <br />
            <h4 class="page-title">Certificación CEFOR</h4>
        </div>
        <div class="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title text-dark m-0">
                                    Detalle de Registros

                                </h3>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <data-table
                                        :columns="columns"
                                        :ajax="ajax"
                                        width="100%"
                                        @draw="draw"
                                        ref="datatable-certificacion"
                                    ></data-table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <!-- vista de consulta----------->
        <b-modal ref="view-estudiantes" size="lg" title="Nomina de Estudiantes">

            <h4 class="text-right" >Emisión de Certificados CEFOR</h4>
                        
            <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Nro</th>
                            <th scope="col">Nombre del Estudiante</th>
                            <th scope="col">Estado del Estudiante</th>
                            <th scope="col">Revista Militar</th>
                            <th scope="col">Acciones</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            :value="pcse.id"
                            v-for="pcse in personasporcomsecesc"
                            v-bind:key="pcse.id"                        
                        >
                            <td>
                                {{ pcse.id }}
                            </td>
                            
                            <td>
                                {{ pcse.persona ? pcse.persona.Persona : "" }}
                            </td>
                            <td>
                                <p 
                                v-show ="pcse.estado_persona.EstadoPersona == 'En instruccion' " class="badge badge-pill badge-success"
                                > {{ pcse.estado_persona ? pcse.estado_persona.EstadoPersona : "" }} </p>
                                <p 
                                v-show ="pcse.estado_persona.EstadoPersona == 'En observacion' " class="badge badge-pill badge-warning"
                                > {{ pcse.estado_persona ? pcse.estado_persona.EstadoPersona : "" }} </p>
                                <p 
                                v-show ="pcse.estado_persona.EstadoPersona == 'No habilitado' " class="badge badge-pill badge-danger"
                                > {{ pcse.estado_persona ? pcse.estado_persona.EstadoPersona : "" }} </p>
                                <p 
                                v-show ="pcse.estado_persona.EstadoPersona == 'Habilitado a la certificacion' " class="badge badge-pill badge-info"
                                > {{ pcse.estado_persona ? pcse.estado_persona.EstadoPersona : "" }} </p>
                            </td>
                            <td>
                                {{ pcse.RevistaMilitar ? pcse.RevistaMilitar : "" }}
                            </td>
                            <td>
                                <a
                                    @click="certificacionPDF(pcse.persona)"
                                    class="btn btn-primary"
                                    style="font-size: small;"
                                >
                                    <i class="far fa-file-powerpoint"></i>
                                    Certificado
                                </a>
                            </td>  
                        </tr>             
                    </tbody>                         
                </table>

            <template #modal-footer>
                <button
                    type="button"
                    class="btn btn-danger"
                    @click.prevent="cancelCertificado()"
                >
                    <i class="fa fa-window-close"></i>
                    {{ $t("actions.cancel") }}
                </button>
            
            </template>
        </b-modal>


    </div>
</template>

<script src="./CertificacionPage.js"></script>