

<template>
    <div>
        <Loader v-if="isLoading"></Loader>
        <div class="page-header-title">
            <br />
            <h4 class="page-title">Documentación</h4>
        </div>
        <div class="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title text-dark m-0">
                                    Detalle de Registros
                                    <div class="float-right">
                                        <a
                                            href="#"
                                            @click.prevent="newDocumento"
                                            class="btn btn-sm btn-success waves-effect waves-light m-l-10"
                                        >
                                            <i class="fa fa-plus"></i>
                                            {{ $t("actions.new") }}
                                        </a>
                                    </div>
                                </h3>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <data-table
                                        :columns="columns"
                                        :ajax="ajax"
                                        width="100%"
                                        @draw="draw"
                                        ref="datatable-documento"
                                    ></data-table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>





        <!-- vista de consulta-->
        <b-modal ref="view-documento" size="lg" title="Revisar Documentación">


            
        <!---
            <h1 class="text-center">{{ compania.NombreCompania }}</h1>
            <h1 class="text-center">{{ compania.Periodo }}/{{ compania.Gestion }}</h1>
            <h4>Nombre de Compañia</h4>
            <p class="text-muted">{{ compania.NombreCompania }}</p>
            <h4>Tipo de Compañia</h4>
            <p class="text-muted">{{ compania.tipo_compania ? compania.tipo_compania.TipoCompania : "" }}</p>
            <h4>Gestión</h4>
            <p class="text-muted">{{ compania.Gestion }}</p>
            <h4>Periodo Académico</h4>
            <p class="text-muted">{{ compania.Periodo }}</p>
            -->
            <div>
                    
                <b-card class="text-center">
                    <div class="bg-primary text-light h-100 ">
                        <h3>Vista del Documento Enviado</h3>
                    </div>                                   
                         <iframe :src="documento.URLDocumento" frameborder="0" width="100%" height="600"></iframe>
                </b-card>
             </div> 
            <template #modal-footer>
                
                
                <a @click.prevent="editDocumento" class="btn btn-warning">
                    <i class="fa fa-edit"></i>
                    {{ $t("actions.edit") }}
                </a>
                <a @click.prevent="deleteDocumento" class="btn btn-danger">
                    <i class="fa fa-trash"></i>
                    {{ $t("actions.destroy") }}
                </a>
            </template>
        </b-modal>




        <!-- vista de consulta-->
        <b-modal ref="frm-documento" size="lg" title="Documentación">
            <div>
                <b-card no-body>
                    <b-tabs card>
                        <b-tab title="Subida de Documento" active>
                            <b-card-text>
                                <form role="form">
                                        


                                        <div class="form-group w-50"
                                        v-if="auth.Rol==1 || auth.Rol==2"
                                        >
                                            <label for="EstadoDocumento"> Estado del Documento </label>
                                            
                                            <select
                                                type="text"
                                                class="form-control"
                                                name="EstadoDocumento"
                                                v-model="documento.EstadoDocumento"
                                                disabled
                                            >
                                                <option
                                                    :value="ed.id"
                                                    v-for="ed in estadoDocumentos"
                                                    v-bind:key="ed.id"
                                                >
                                                    {{ ed.EstadoDocumento }}
                                                </option>
                                            </select>
                                            <ul
                                                class="parsley-errors-list filled"
                                                id="parsley-id-19"
                                                v-if="errorBag.EstadoDocumento"
                                            >
                                                <li class="parsley-required">
                                                    {{ errorBag.EstadoDocumento }}
                                                </li>
                                            </ul>
                                        </div>


                                        <div class="form-group w-50">
                                            <label for="TipoDocumento">Tipo de Documento</label>
                                            <select
                                                type="text"
                                                class="form-control"
                                                name="TipoDocumento"
                                                v-model="documento.TipoDocumento"
                                            >
                                                <option
                                                    :value="td.id"
                                                    v-for="td in tipoDocumentos"
                                                    v-bind:key="td.id"
                                                >
                                                    {{ td.TipoDocumento }}
                                                </option>
                                            </select>
                                            <ul
                                                class="parsley-errors-list filled"
                                                id="parsley-id-19"
                                                v-if="errorBag.TipoDocumento"
                                            >
                                                <li class="parsley-required">
                                                    {{ errorBag.TipoDocumento }}
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="form-group w-50">
                                            <label for="FechaEntrega"> Fecha de Entrega </label>
                                            
                                            <input
                                                type="text"
                                                class="form-control"
                                                name="FechaEntrega"
                                                :max="max"
                                                
                                                :value="date"
                                                disabled
                                            />
                                            <ul
                                                class="parsley-errors-list filled"
                                                id="parsley-id-19"
                                                v-if="errorBag.FechaEntrega"
                                            >
                                                <li class="parsley-required">
                                                    {{ errorBag.FechaEntrega }}
                                                </li>
                                            </ul>
                                        </div>
                                        
                                        <div class="form-group">
                                            <label for="Documento">Documento <i class="fas fa-file-pdf"  style=" font-size: 24px; color: red;"></i></label>
                                            <div class="w-50" >
                                                <b-form-file
                                                @change="loadFile('Documento')"
                                                placeholder="Selecciona o suelta un Archivo..."
                                                drop-placeholder="Suelta el Archivo aqui..."
                                                ></b-form-file>
                                                <span v-show="isLoadingFile" class="text-success"
                                                    ><i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                                                    Cargando Archivo<span class="sr-only"
                                                        >Cargando...</span
                                                    ></span
                                                >
                                                <span
                                                    v-show="!isLoadingFile && documento.Documento"
                                                    class="text-info"
                                                    ><i class="fa fa-thumbs-o-up"></i> Archivo Cargado!
                                                    
                                                    </span
                                                >
                                            </div>
                                            
                                        </div>
                                        <div>           
                                            <b-card class="text-center">
                                                <div class="bg-primary text-light h-100 ">
                                                <h3>Vista Previa</h3>
                                                </div>
                                                <b-card-body>
                                                            <span
                                                                v-if="!isLoadingFile && documento.Documento"
                                                            >
                                                                <iframe v-bind:src = "ruta"  frameborder="0" width="100%" height="600"></iframe>   
                                                            </span>
                                                                
                                                </b-card-body>                                        
                                            </b-card>
                                        </div> 

                                        
                                    </form>                     
                            </b-card-text>
                        </b-tab>
                        <b-tab title="Revisión de Documento"
                        v-if="auth.Rol==1 || auth.Rol==2"
                        >

                            <h3>Actualizar Estado del Documento</h3>

                            <form role="form">
                                <div class="form-group w-50">
                                        
                                            <label for="EstadoDocumento"> Estado Actual del Documento </label>
                                            
                                            <select
                                                type="text"
                                                class="form-control"
                                                name="EstadoDocumento"
                                                v-model="documento.EstadoDocumento"
                                                
                                            >
                                                <option
                                                    :value="ed.id"
                                                    v-for="ed in estadoDocumentos"
                                                    v-bind:key="ed.id"
                                                >
                                                    {{ ed.EstadoDocumento }}
                                                </option>
                                            </select>
                                            <ul
                                                class="parsley-errors-list filled"
                                                id="parsley-id-19"
                                                v-if="errorBag.EstadoDocumento"
                                            >
                                                <li class="parsley-required">
                                                    {{ errorBag.EstadoDocumento }}
                                                </li>
                                            </ul>
                                        </div>

                                        <a @click.prevent="revisionDocumento(id)" class="btn btn-success">
                                            <i class="fa fa-save"></i>
                                            Revisar
                                        </a>

                            </form>

                        </b-tab>
                    </b-tabs>
                </b-card>
                        
            </div>

            <template #modal-footer>
                <a @click.prevent="saveDocumento()" class="btn btn-success">
                    <i class="fa fa-save"></i>
                    {{ $t("actions.save") }}
                </a>
                <button
                    type="button"
                    class="btn btn-danger"
                    @click.prevent="cancelDocumento()"
                >
                    <i class="fa fa-window-close"></i>
                    {{ $t("actions.cancel") }}
                </button>
            </template>
        </b-modal>
    </div>
</template>

<script src="./DocumentacionPage.js"></script>