<template>
    <div>
        <Loader v-if="isLoading"></Loader>
        <div class="page-header-title">
            <br />
            <h4 class="page-title">Organizar Compañias</h4>
        </div>
        <div class="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title text-dark m-0">
                                    Detalle de Registros
                                    <div class="float-right">
                                        <a
                                            href="#"
                                            @click.prevent="newCompania"
                                            class="btn btn-sm btn-success waves-effect waves-light m-l-10"
                                        >
                                            <i class="fa fa-plus"></i>
                                            {{ $t("actions.new") }}
                                        </a>
                                    </div>
                                </h3>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <data-table
                                        :columns="columns"
                                        :ajax="ajax"
                                        width="100%"
                                        @draw="draw"
                                        ref="datatable-compania"
                                    ></data-table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>





        <!-- vista de consulta-->
        <b-modal ref="view-compania" size="lg" title="Organizar Compañias">
            
            <h3 class="text-center">{{ compania.NombreCompania }}</h3>
            <h3 class="text-center">Periodo de Instrucción: {{ compania.Periodo }}/{{ compania.Gestion }}</h3>
            <h4>Nombre de Compañia</h4>
            <p class="text-muted">{{ compania.NombreCompania }}</p>
            <h4>Tipo de Compañia</h4>
            <p class="text-muted">{{ compania.tipo_compania ? compania.tipo_compania.TipoCompania : "" }}</p>
            <h4>Comandante de Compañia</h4>
            <p class="text-muted">{{ compania.persona ? compania.persona.Persona : "" }}</p>
            <h4>Gestión</h4>
            <p class="text-muted">{{ compania.Gestion }}</p>
            <h4>Periodo Académico</h4>
            <p class="text-muted">{{ compania.Periodo }}</p>

            <template #modal-footer>
                
                <router-link
                    class=" black--text text--accent-4 "
                    to="CompaniaSeccion"
                >
                    <v-list-item>
                        <v-list-item-content class="btn btn-primary">
                            <v-list-item-title>Ver Secciones</v-list-item-title>
                        </v-list-item-content>
                    </v-list-item> 
                    
                </router-link>

                <a @click.prevent="editCompania" class="btn btn-warning">
                    <i class="fa fa-edit"></i>
                    {{ $t("actions.edit") }}
                </a>
                <a @click.prevent="deleteCompania" class="btn btn-danger">
                    <i class="fa fa-trash"></i>
                    {{ $t("actions.destroy") }}
                </a>
            </template>
        </b-modal>




        <!-- vista de consulta-->
        <b-modal ref="frm-compania" size="lg" title="Organizar Compañias">
            <form role="form">

                <div class="form-group">
                    <label for="NombreCompania">Nombre de la Compañia:</label>
                    <input
                        type="text"
                        class="form-control"
                        name="NombreCompania"
                        v-model="compania.NombreCompania"
                    />
                    <ul
                        class="parsley-errors-list filled"
                        id="parsley-id-19"
                        v-if="errorBag.NombreCompania"
                    >
                        <li class="parsley-required">
                            {{ errorBag.NombreCompania }}
                        </li>
                    </ul>
                </div>

                <!-- <option selected>Seleccione opcion...</option>      -->
                <div class="form-group  w-50">
                    <label for="Compania">Seleccionar el Tipo de Compañia:</label>
                    <b-form-select
                        
                        type="text"
                        class="form-control"
                        name="Compania"
                        @change="onChange($event)"
                        v-model="compania.Compania"
                    >
                        
                        <option
                            :value="tp.id"
                            v-for="tp in tipoCompanias"
                            v-bind:key="tp.id"
                        >
                            {{ tp.TipoCompania }}
                        </option>
                    </b-form-select>
                    <ul
                        class="parsley-errors-list filled"
                        id="parsley-id-19"
                        v-if="errorBag.Compania"
                    >
                        <li class="parsley-required">
                            {{ errorBag.Compania }}
                        </li>
                    </ul>
                </div>
                
                <label>Descripción del Tipo de Compañia:</label>
                <input disabled type="text" class="form-control" v-bind:value="d">
                <br>
                
                <br>
                <!-----Comandante de compañia select-->
                <div class="form-group  w-50">
                    <label for="ComandanteCompania">Seleccionar Comandante de Compania:</label>
                    <b-form-select
                        
                        type="text"
                        class="form-control"
                        name="ComandanteCompania"
                        v-model="compania.ComandanteCompania"
                    >
                        
                        <option
                            :value="p.id"
                            v-for="p in personas"
                            v-bind:key="p.id"
                        >
                            {{ p.Persona }}
                        </option>
                    </b-form-select>
                    <ul
                        class="parsley-errors-list filled"
                        id="parsley-id-19"
                        v-if="errorBag.ComandanteCompania"
                    >
                        <li class="parsley-required">
                            {{ errorBag.ComandanteCompania }}
                        </li>
                    </ul>
                </div>

                <h3 class="text-center" >Periodo de Instrucción:</h3>
                <div class="form-group w-50">
                    <label for="Gestion"> Gestión: </label>
                    
                    <input
                        type="text"
                        class="form-control"
                        name="Gestion"
                        v-bind:value=year
                        disabled 
                        
                    />
                    <ul
                        class="parsley-errors-list filled"
                        id="parsley-id-19"
                        v-if="errorBag.Gestion"
                    >
                        <li class="parsley-required">
                            {{ errorBag.Gestion }}
                        </li>
                    </ul>
                </div>
                
                <div class="form-group w-50">
                    <label for="Periodo">Periodo:</label>
                    <b-form-select
                        type="text"
                        class="form-control"
                        name="Periodo"
                        v-model="compania.Periodo"
                    >
                        <option value="1">1</option>
                        <option value="2">2</option>

                    </b-form-select>

                    <ul
                        class="parsley-errors-list filled"
                        id="parsley-id-19"
                        v-if="errorBag.Periodo"
                    >
                        <li class="parsley-required">
                            {{ errorBag.Periodo }}
                        </li>
                    </ul>
                </div>
            </form>
            <template #modal-footer>
                <a @click.prevent="saveCompania()" class="btn btn-success">
                    <i class="fa fa-save"></i>
                    {{ $t("actions.save") }}
                </a>
                <button
                    type="button"
                    class="btn btn-danger"
                    @click.prevent="cancelCompania()"
                >
                    <i class="fa fa-window-close"></i>
                    {{ $t("actions.cancel") }}
                </button>
            </template>
        </b-modal>
    </div>
</template>

<script src="./CompaniaPage.js"></script>